@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Sans:wght@100;200;400;500;700;900&family=Noto+Serif+Gujarati:wght@100&family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:wght@200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppis', sans-serif;
}
.icon_back{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 35px;    
    color: #4a17d5;
    font-size: 30px;
    background: red;
}
.container__profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    display: flex;
    width: 100%;
    background: #0c0e19;

}
.error-message {
    background-color: rgba(255, 0, 0, 0.1); 
    color: #800000; 
    padding: 10px; 
    border: 1px solid #800000;
    border-radius: 5px; 
    margin-bottom: 10px;
}
.banner{
    position: relative;
    width: 390px;
    height: 210px;
    text-align: center;
    margin-bottom: 10px;
    background: #141728;
    overflow: hidden;
}
.container__banner{
    display: flex;
    width: 2000px;
    padding: 5px;
    overflow: hidden;
}
.img-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border-radius: 20px;
    border: 2px dashed #4a17d5;
    color: #4a17d5;
    font-weight: bold;
    margin-right: 10px;
}
.container-img-upload{
    width: 385px;
    height: 200px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #1AEE07;
    cursor: pointer;
    overflow: hidden;
}
.img-uploaded{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon_upload{
    color: #4a17d5;
    font-size: 80px;
}
.section_information{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
    background: #0c0e19;
}
.container__tittle{
    font-weight: bold;
    padding-bottom: 10px;
}
#sublime{
    width: 40px;
    border-radius: 20px;
    border: 3px solid #f6f6f6;
}
.tittle_menu{
    color: #f6f6fc;
    font-weight: 800;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container__menu{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    background: #1c2035;
}
.menu__main{
    color: #f6f6fc;
    display: flex;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}
.section__professional__barbearia{
    display: flex;
    flex-direction: row;
    width: 370px;
    height: 95px;
    padding-bottom: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.section__professional{
    display: flex;
    height: 85px;
}
.section__professional__barbearia::-webkit-scrollbar {
    height: 5px;
}
.section__professional__barbearia::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__professional__barbearia::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.addNewProfessional{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #4a17d5;
    background: transparent;
    color: #4a17d5;
    margin-bottom: 5px;
    cursor: pointer;
}
.icon_plus{
    height: 30px;
    width: 30px;
    color: #f6f6fc;
}
.Box__addNewProfessional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    transition: 0.5s;
}
.Box__professional {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    height: 85px;
    width: 80px;
    font-size: 16px;
    cursor: pointer;
  }

.firstLetter{
    font-size: 20px;
}
.Box__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #4a17d5;
    margin-bottom: 5px;
}
.name__professional{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width: 125px;
}
.arrow{
    position: absolute;
    right: 10px;
    font-size: 30px;
    color: #354249;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.icon_menu{
    font-size: 22px;
    color: #f6f6fc;
    margin-right: 10px;
    transition: 0.5s;
}
.girar {
    transform: rotate(180deg);
}
.divSelected{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    color: #f6f6f6;
}
.information__span{
    color: #52626b;
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 5px;
}
.input_Select{
    margin-bottom: 10px;
    margin-right: 10px;
}
.container__payment__policeis{
    display: flex;
}
.container__payment__policeis{
    display: flex;
    flex-direction: column;
}
.text__valor__payment__booking{
    font-size: 14px;
    color: #f6f6f6;
}
.container__checkBox{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container__checkbox__payment{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2px 5px 2px 2px;
    border-radius: 5px;
    height: 45px;
    transition: 0.5s;
    background: transparent;
}
.container__barearia__conected{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a17d541;
    padding: 5px;
    border-radius: 5px;
}
.container__conection__with__mercado__pago{
    margin-bottom: 10px;
}
.icon_menu__payment__enable{
    font-size: 25px;
    transition: 0.5s;
}
.span__payment__enable{
    font-weight: 500;
    width: 260px;
    margin-left: 5px;
}
.information__span__payment__enable{
    color: #f6f6f6;
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
    font-size: 14px;
}
.container__service__percentage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 0px;
    margin-top: 5px;
}
.container__service__percentage__another{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px 5px 5px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.text__service__percentage{
    font-size: 14px;
    font-weight: 400px;
    color: #52626b;
    transition: 0.5s;
    padding-left: 5px;
}
.text__service__percentage__selected{
    font-size: 14px;
    font-weight: 400px;
    color: #f6f6f6;
    transition: 0.5s;
    padding: 0px;
}
.text__service__percentage__another{
    font-size: 14px;
    font-weight: 400px;
    color: #52626b;
    padding-left: 5px;
    width: 288px;
    transition: 0.5s;

}

.text__service__percentage__another__selected{
    font-size: 14px;
    font-weight: 400px;
    color: #f6f6f6;
    padding: 0px;
    width: 218px;
    transition: 0.5s;
}
.input__another__percentage{
    outline: none;
    width: 60px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 2px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #52626b;
    opacity: 1;
    transition: 0.5s;
    color: #f6f6f6;
}
.input__another__percentage::placeholder {
    color: #52626b;
}
.ocult__input__another__percentage{
    opacity: 0;
    width: 0;
    transition: 0.5s;
}
.defined__day {
    color: white;
    transition: 0.5s;
}
.selectedOption {
    color: white;
}
.Link__oauth__mercado__pago{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a17d5;
    text-align: center;
    padding: 5px;
    width: 330px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #f6f6f6;
    transition: 0.5s;
}
.Link__oauth__mercado__pago a {
    color: #f6f6f6;
    text-decoration: none;
    font-size: 16px;
}
.logo__mercado__pago__conection{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.Link__oauth__mercado__pago:hover{
    background: #4a17d5c8;
    transition: 0.5s;
}
/*Referente ao input status*/
#status{
    display: none;
}
#status:checked ~ .switch{
    background: #1AEE07;
}
#status:checked ~ .switch .slider{
    transform: translateX(19px);
}
/*referente aos inputs de definição de dias a serem trabalhados*/
.days-switch {
    display: none;
} 
.days-switch:checked ~ .switch {
    background: #1AEE07;
} 
.days-switch:checked ~ .switch .slider {
    transform: translateX(19px);
}
/*para todos os inputs anteriores*/
.switch {
    position: relative;
    display: flex;
    align-items: center;
    background: #777;
    width: 45px;
    height: 25px;
    padding: 3px;
    transition: all .5s ease-in-out;
    border-radius: 40px;
    cursor: pointer;
}
.slider {
    position: absolute;
    background: #f6f6f6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .5s ease-in-out;
}
/*divisória dos menus*/
.hr_menu{
    margin-left: 34px;
    border-bottom: 1px solid #354249;
    width: 326px;
}
.divSelected .inputBox input{
    outline: none;
    background: transparent;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    width: 300px;
    padding-left: 35px;
    height: 35px;
    border: 1px solid #7849f4;
    color: #f6f6fc;
}
.icon_input{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #f6f6fc;
    font-size: 25px;
}
#icon_street_number{
    position: absolute;
    top: 50px;
    left: 5px;
    color: #f6f6f6;
    font-size: 25px;
}
#icon_input_neighborhood{
    position: absolute;
    top: 98px;
    left: 6px;
    color: #f6f6f6;
    font-size: 20px;
}
#icon_input_city{
    position: absolute;
    top: 142px;
    left: 5px;
    color: #f6f6f6;
    font-size: 21px;
}
.Delete_account{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    color: darkred;
    border: 1px solid darkred;
}
.Delete_account:hover{
    border-radius: 10px;
    background: darkred;
    color: #f6f6fc;
}
.white-placeholder::placeholder {
    color: white;
}
.hide__message{
    opacity: 0;
}
.mensagem-sucesso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(67, 210, 45, 0.1);
    color: #1AEE07;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
    transition: 0.5s;
}
.icon__success{
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: #1AEE07;
    width: 20px;
    height: 20px;
}
.text__message{
    width: 100%;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 100;
}
.mensagem-erro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(210, 23, 23, 0.1);
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    opacity: 1;
}
.hide_icon__error{
    opacity: 0;
}
.hide_icon__error.icon__error{
    opacity: 1;
}
.btn__copy__link__profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #4a17d5;
    border-radius: 10px;
    color: #f6f6f6;
    margin-top: 5px;
    transition: 0.5s;
}
.icon__IoCopyOutline{
    width: 20px;
    height: 20px;
    color: #f6f6f6;
    margin-right: 10px;
}
.btn__copy__link__profile:hover{
    background: #4a17d5;
    transition: 0.5s;
    border-radius: 15px;
    cursor: pointer;
}