@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Sans:wght@100;200;400;500;700;900&family=Noto+Serif+Gujarati:wght@100&family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:wght@200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.banners{
    position: relative;
    width: 100%;
    height: 200px;
    background: yellow;
    color: black;
}
.section_information{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: #0c0e19;
}
.img__user_edit{
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background: red;
    margin-bottom: 20px;
}
.tittle_menu{
    color: #354249;
    font-weight: 800;
    width: 100%;
    margin-bottom: 10px;
}
.container__menu{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    background: #1c2035;
}
.menu__main{
    color: #354249;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.arrow{
    font-size: 30px;
    color: #354249;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.girar {
    transform: rotate(180deg);
}
.divSelected{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    color: #f6f6f6;
}
.information__span{
    color: #354249;
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 5px;
}
.input_Select{
    margin-bottom: 10px;
    margin-right: 10px;
}
#aberta{
    color: #1AEE07;
    font-weight: 400;
}
#fechada{
    color: rgb(234, 37, 37);
    font-weight: 400;
}
.hr_menu{
 border: 1px solid #354249;
}
.divSelected .inputBox input{
    outline: none;
    background: transparent;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    width: 300px;
    padding-left: 27px;
    height: 35px;
    border: 1px solid #7849f4;
    color: #f6f6fc;
}
.icon_input{
    position: absolute;
    top: 5px;
    left: 2px;
    color: #f6f6fc;
}
#icon_street_number{
    position: absolute;
    top: 50px;
    left: 2px;
    color: #f6f6f6;
}
#icon_input_neighborhood{
    position: absolute;
    top: 95px;
    left: 2px;
    color: #f6f6f6;
}
#icon_input_city{
    position: absolute;
    top: 142px;
    left: 2px;
    color: #f6f6f6;
}
.Dias_Trabalho_Rapido{
    font-weight: 400;
}
.button__change{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #7849f4;
    transition: 0.5s;
}
.button__change:hover{
    background: #7849f4;
    transition: 0.5s;
}
.Dias_Semana{
    border: none;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #7849f4;
    transition: 0.5s;
}
.Dias_Semana:hover{
    border-radius: 10px;
    background: #7849f4;
    transition: 0.5s;
}