@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Sans:wght@100;200;400;500;700;900&family=Noto+Serif+Gujarati:wght@100&family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:wght@200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.banner{
    position: relative;
    width: 390px;
    height: 220px;
    text-align: center;
    margin-bottom: 10px;
    background: #141728;
    overflow: hidden;
}
.container__banner{
    display: flex;
    width: 2000px;
    padding: 5px;
    overflow: hidden;
}
.img-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border-radius: 20px;
    border: 2px dashed #f7f8ff;
    color: #52626b;
    font-weight: bold;
    margin-right: 10px;
}
.container-img-upload{
    width: 385px;
    height: 200px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #1AEE07;
    cursor: pointer;
    overflow: hidden;
}
.img-uploaded{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon_upload{
    font-size: 80px;
}
.section_information{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: #0c0e19;
}
.container__profile{
    display: flex;
    width: 100%;
}
.img__user_edit{
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
    background: #141728;
    margin-bottom: 20px;
    overflow: hidden;
}
.section__userName{
    font-size: 14px;
}
.img-view-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
#img-profile{
    width: 100%;
    height: 100%;
}
.img-view-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.icon_user_edit{
    font-weight: 500;
    font-size: 50px;
}
#editar{
    text-align: center;
    height: 20px;
    width: 100%;
    color: #141728;
    font-weight: 500;
    background: #52626b;
}
.tittle_menu{
    color: #354249;
    font-weight: 800;
    width: 100%;
    margin-bottom: 10px;
}
.container__menu{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    background: #1c2035;
}
.menu__main{
    color: #f6f6fc;
    display: flex;
    
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}

.arrow{
    position: absolute;
    right: 10px;
    font-size: 30px;
    color: #354249;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.icon_menu{
    color: #f6f6fc;
    margin-right: 10px;
}
.girar {
    transform: rotate(180deg);
}
.divSelected{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    color: #f6f6f6;
}
.information__span{
    color: #52626b;
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 5px;
}
.input_Select{
    margin-bottom: 10px;
    margin-right: 10px;
}
#aberta{
    color: #1AEE07;
    font-weight: 400;
}
#fechada{
    color: rgb(234, 37, 37);
    font-weight: 400;
}
.hr_menu{
    margin-left: 34px;
    border-bottom: 1px solid #354249;
    width: 326px;
}
.divSelected .inputBox input{
    outline: none;
    background: transparent;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    width: 300px;
    padding-left: 27px;
    height: 35px;
    border: 1px solid #7849f4;
    color: #f6f6fc;
}
.icon_input{
    position: absolute;
    top: 5px;
    left: 2px;
    color: #f6f6fc;
}
#icon_street_number{
    position: absolute;
    top: 50px;
    left: 2px;
    color: #f6f6f6;
}
#icon_input_neighborhood{
    position: absolute;
    top: 95px;
    left: 2px;
    color: #f6f6f6;
}
#icon_input_city{
    position: absolute;
    top: 142px;
    left: 2px;
    color: #f6f6f6;
}
.Dias_Trabalho_Rapido{
    font-weight: 600;
}
.button__change{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #7849f4;
    transition: 0.5s;
}
.button__change:hover{
    background: #7849f4;
    transition: 0.5s;
}
.Dias_Semana{
    border: none;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #7849f4;
    transition: 0.5s;
}
.Dias_Semana:hover{
    border-radius: 10px;
    background: #7849f4;
    transition: 0.5s;
}
.container__servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.add_Service{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    color: #1AEE07;
    padding: 10px;
    border: 1px solid #1AEE07;
}
.add_Service span{
    color: #1AEE07;
}
.Delete_account{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    color: darkred;
    border: 1px solid darkred;
}
.Delete_account:hover{
    border-radius: 10px;
    background: darkred;
    color: #f6f6fc;
}