@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Sans:wght@100;200;400;500;700;900&family=Noto+Serif+Gujarati:wght@100&family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:wght@200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppis', sans-serif;
}
.background-desfocado{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    backdrop-filter: blur(5px); /* Para navegadores modernos */
    z-index: 10;   
}
.icon_back{
    width: 100%;
    color: #4a17d5;
    font-size: 30px;
}
.container__profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    display: flex;
    width: 100%;
}
.img__user_edit{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background: #141728;
    cursor: pointer;
}
.error-message {
    background-color: rgba(255, 0, 0, 0.1); 
    color: #800000; 
    padding: 10px; 
    border: 1px solid #800000;
    border-radius: 5px; 
    margin-bottom: 10px;
}
.section__userName{
    text-align: center;
    width: 100%;
    color: #f6f6f6;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 20px;
}
.img-view-profile{
    width: 80px;
    height: 80px;
    border-radius: 12px;
    overflow: hidden;
}
#img-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-view-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.icon_user_edit{
    color: #f6f6f6;
    font-weight: 300;
    font-size: 50px;
}
#editar{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 3px;
    border-radius: 5px;
    color: #f6f6f6;
    font-size: 20px;
    font-weight: 500;
    background: #354249;
    top: -5px;
    right: -5px;
    z-index: 9;
    cursor: pointer;
}
.banner{
    position: relative;
    width: 390px;
    height: 210px;
    text-align: center;
    margin-bottom: 10px;
    background: #141728;
    overflow: hidden;
}
.container__banner{
    display: flex;
    width: 2000px;
    padding: 5px;
    overflow: hidden;
}
.img-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border-radius: 20px;
    border: 2px dashed #4a17d5;
    color: #4a17d5;
    font-weight: bold;
    margin-right: 10px;
}
.container-img-upload{
    width: 385px;
    height: 200px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: #1AEE07;
    cursor: pointer;
    overflow: hidden;
}
.img-uploaded{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon_upload{
    color: #4a17d5;
    font-size: 80px;
}
.section_information{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: #0c0e19;
}
.container__tittle{
    font-weight: bold;
    padding-bottom: 10px;
}
#sublime{
    width: 40px;
    border-radius: 20px;
    border: 3px solid #f6f6f6;
}
.tittle_menu{
    color: #f6f6fc;
    font-weight: 800;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container__menu{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    background: #1c2035;
}
.menu__main{
    color: #f6f6fc;
    display: flex;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}
.section__professional{
    width: 370px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.arrow{
    position: absolute;
    right: 10px;
    font-size: 30px;
    color: #354249;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.icon_menu{
    font-size: 22px;
    color: #f6f6fc;
    margin-right: 10px;
    transition: 0.5s;
}
.girar {
    transform: rotate(180deg);
}
.divSelected{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    color: #f6f6f6;
}
.information__span{
    color: #52626b;
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 5px;
}
.input_Select{
    margin-bottom: 10px;
    margin-right: 10px;
}
.container__checkBox{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}
.defined__day {
    color: white;
    transition: 0.5s;
}
.selectedOption {
    color: white;
  }
/*Referente ao input status*/
#status{
    display: none;
}
#status:checked ~ .switch{
    background: #1AEE07;
}
#status:checked ~ .switch .slider{
    transform: translateX(19px);
}
/*referente aos inputs de definição de dias a serem trabalhados*/
.days-switch {
    display: none;
} 
.days-switch:checked ~ .switch {
    background: #1AEE07;
} 
.days-switch:checked ~ .switch .slider {
    transform: translateX(19px);
}
/*para todos os inputs anteriores*/
.switch {
    position: relative;
    display: flex;
    align-items: center;
    background: #777;
    width: 45px;
    height: 25px;
    padding: 3px;
    transition: all .5s ease-in-out;
    border-radius: 40px;
    cursor: pointer;
}
.slider {
    position: absolute;
    background: #f6f6f6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .5s ease-in-out;
}
/*divisória dos menus*/
.hr_menu{
    margin-left: 34px;
    border-bottom: 1px solid #354249;
    width: 326px;
}
.divSelected .inputBox input{
    outline: none;
    background: transparent;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    width: 300px;
    padding-left: 35px;
    height: 35px;
    border: 1px solid #7849f4;
    color: #f6f6fc;
}
.icon_input{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #f6f6fc;
    font-size: 25px;
}
#icon_street_number{
    position: absolute;
    top: 50px;
    left: 5px;
    color: #f6f6f6;
    font-size: 25px;
}
#icon_input_neighborhood{
    position: absolute;
    top: 98px;
    left: 6px;
    color: #f6f6f6;
    font-size: 20px;
}
#icon_input_city{
    position: absolute;
    top: 142px;
    left: 5px;
    color: #f6f6f6;
    font-size: 21px;
}
.Dias_Trabalho_Rapido{
    font-weight: 600;
}
.button__change{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #7849f4;
    opacity: 0;
  transition: opacity 0.5s ease;
}
.button__change.show {
    opacity: 1;
    margin-top: 15px;
    width: 100%;
    height: 40px;
}
.button__change:hover{
    background: #7849f4;
    transition: 0.5s;
}
.Dias_Semana{
    border: none;
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: rgba(59, 20, 216, 0.1);
    border-radius: 10px;
    border: 1px solid #4a17d5;
    transition: 0.5s;
}
.Dias_Semana:hover{
    border-radius: 10px;
    transition: 0.5s;
}
.inputs-horarios{
    display: flex;
    background: transparent;
    width: 250px;
    padding: 10px;
    overflow: auto;
    cursor: grab;
}
.inputs-horarios::-webkit-scrollbar {
    height: 5px;
}
.inputs-horarios::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.inputs-horarios::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.horario-item{
    display: flex;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #4a17d5;
    text-align: center;
    transition: 0.5s;
}
.Horario-selecionado{
    border-radius: 10px;
    color: #f6f6fc;
    background: #4a17d5;
    transition: 0.5s;
}
.tittle_horario{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    color: #f6f6f6;
    height: 30px;
    text-align: center;
    background: #4a17d5;
}
.container__servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 400px;
}
.section__service{
    width: 100%;
    padding-top: 10px;
    border-radius: 5px;
    overflow-y: scroll;
}
.section__service::-webkit-scrollbar {
    width: 5px;
}
.section__service::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__service::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.box__service{
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #4a17d5;
    width: 100%;
    background-color: rgb(59, 20, 216, 0.1);
    height: 35px;
    overflow: hidden;
}
.box__service.expandir__Service{
    width: 100%;
    height: auto;
    border-radius: 9px;
}
.section__service__button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.delete__Service{
    background: red;
    border: 1px solid red;
    color: #f6f6f6;
    border-radius: 8px;
    font-size: 20px;
    width: 40px;
    height: auto;
    transition: 0.5s;
}
.buttonChange__service.button_ocult{
    opacity: 0;
    width: 1px;
    height: 1px;
}
.delete__Service.button_ocult{
    opacity: 0;
    width: 1px;
    height: 1px;
}
.button_ocult.section__confirm__delete{
    width: 100%;
    height: 30px;
    border: 1px solid red;
    background: transparent;
    color: #f6f6f6;
    margin-bottom: 5px;
    font-size: 14px;
    transition: 0.5s;
    opacity: 1;
}
.button_ocult.section__confirm__delete:hover{
    margin-bottom: 5px;
    border-radius: 8px;
    background: red;
    transition: 0.5s;
    opacity: 1;
}
.button_ocult{
    opacity: 0;
    width: 1px;
    height: 1px;
}
.section__cancel{
    width: 100%;
    height: 30px;
    border: 1px solid #4a17d5;
    background: #4a17d5;
    color: #f6f6f6;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    opacity: 1;
    transition: 0.5s;
}
.buttonChange__service{
    width: 100%;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #7849f4;
    font-size: 16px;
    color: #f6f6f6;
    transition: 0.5s;
}
.buttonChange__service:hover{
    background: #7849f4;
    border-radius: 8px;
    transition: 0.5s;
}

.add_Service{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    color: #1AEE07;
    padding: 10px;
    background-color: rgba(60, 206, 38, 0.1);
    margin-right: 5px;
    border: 1px solid #1AEE07;
    transition: 0.5s;
}
.add_Service span{
    color: #1AEE07;
}
.expandir {
    position: relative;
    transition: 0.5s;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.input_Container{
    position: absolute;
    padding: 5px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    background: #1c2035;
    border: 2px solid #4a17d5;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    z-index: 5;
}
.input_AddService{
    outline: none;
    background: transparent;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 100%;
    height: 35px;
    border: 1px solid #52626b;
    border-radius: 5px;
    color: #f6f6fc;
    padding-left: 5px;
}
.button__Salve__Service{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    color: #1AEE07;
    padding: 10px;
    font-size: 14px;
    background: transparent;
    margin-right: 5px;
    border: 1px solid #1AEE07;
    transition: 0.5s;
}
.button__Salve__Service:hover{
    border-radius: 5px;
    color: #141728;
    font-size: 15px;
    font-weight: 700;
    background: #1AEE07;
    transition: 0.5s;
}
.Delete_account{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    color: darkred;
    border: 1px solid darkred;
}
.Delete_account:hover{
    border-radius: 10px;
    background: darkred;
    color: #f6f6fc;
}
.white-placeholder::placeholder {
    color: white;
}
.hide__message{
    opacity: 0;
}
.mensagem-sucesso {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgba(67, 210, 45, 0.1);
    color: #0f0;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
    transition: 0.5s;
}
.icon__success{
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: rgb(40, 164, 40);
    width: 20px;
    height: 20px;
}
.text__message{
    width: 100%;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 100;
}
.mensagem-erro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgba(210, 23, 23, 0.1);
    color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    opacity: 1;
}
.hide_icon__error{
    opacity: 0;
}
.hide_icon__error.icon__error{
    opacity: 1;
}
/*==========================================================*/
.addNewProfessional{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #4a17d5;
    background: transparent;
    color: #4a17d5;
}
.icon_plus{
    height: 30px;
    width: 30px;
}