.main__professional{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    background: #0c0e19;

}
.container__professional{
    padding: 5px;
    max-width: 390px;
    margin-bottom: 100px;
}
.header__professional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 390px;
}
.back{
    cursor: pointer;
    float: left;
    width: 100%;
}
.Icon__Back{
 color: #4a17d5;
 width: 30px;
 height: 30px;
 cursor: pointer;
}
.Box__first__letter{
    width: 100px;
    height: 100px;
}
.firstLetter__professional{
    font-size: 40px;
}
.tittle__times{
    padding-top: 10px;
    margin-bottom: 10px;
    width: 360px;
}

.section__times{
    display: flex;
    background: transparent;
    width: 360px;
    padding: 10px;
    overflow: auto;
    cursor: grab;
}
.section__times::-webkit-scrollbar {
    height: 2px;
}
.section__times::-webkit-scrollbar-thumb {
    background: #354249; 
    border-radius: 5px;
}
.section__times::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}