.main__professional{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    background: #0c0e19;

}
.container__professional{
    padding: 10px;
    max-width: 390px;
    margin-bottom: 100px;
}
.header__professional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 390px;
}
.back{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    float: left;
    padding-left: 5px;
    padding-right: 15px;
    width: 100%;
}
.Icon__Back{
 color: #4a17d5;
 width: 30px;
 height: 30px;
 cursor: pointer;
}
.Box__first__letter{
    width: 100px;
    height: 100px;
}
.firstLetter__professional{
    font-size: 40px;
}
.tittle__times{
    padding-top: 10px;
    margin-bottom: 10px;
    width: 360px;
}
.Dias_Trabalho_Rapido{
    font-weight: 600;
}
.button__change{
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #7849f4;
    opacity: 0;
  transition: opacity 0.5s ease;
}
.button__change.show {
    opacity: 1;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    font-size: 14px;
}
.button__change:hover{
    background: #7849f4;
    transition: 0.5s;
}
.Dias_Semana{
    border: none;
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: rgba(59, 20, 216, 0.1);
    border-radius: 10px;
    border: 1px solid #4a17d5;
    transition: 0.5s;
}
.Dias_Semana:hover{
    border-radius: 10px;
    transition: 0.5s;
}
.inputs-horarios{
    display: flex;
    background: transparent;
    width: 250px;
    padding: 10px;
    overflow: auto;
    cursor: grab;
}
.inputs-horarios::-webkit-scrollbar {
    height: 5px;
}
.inputs-horarios::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.inputs-horarios::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.horario-item{
    display: flex;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #4a17d5;
    text-align: center;
    transition: 0.5s;
}
.Horario-selecionado{
    border-radius: 10px;
    color: #f6f6fc;
    background: #4a17d5;
    transition: 0.5s;
}
.tittle_horario{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    color: #f6f6f6;
    height: 30px;
    text-align: center;
    background: #4a17d5;
}
.section__times{
    display: flex;
    background: transparent;
    width: 360px;
    padding: 10px;
    overflow: auto;
    cursor: grab;
}
.section__times::-webkit-scrollbar {
    height: 2px;
}
.section__times::-webkit-scrollbar-thumb {
    background: #354249; 
    border-radius: 5px;
}
.section__times::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}

.container__servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 400px;
}
.no__service__created__AddNewService{
    text-align: center;
    font-size: 20px;
    color: #354249;
}
.section__service{
    width: 100%;
    padding-top: 10px;
    border-radius: 5px;
    overflow-y: scroll;
}
.section__service::-webkit-scrollbar {
    width: 5px;
}
.section__service::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__service::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.box__service{
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #4a17d5;
    width: 100%;
    background-color: rgb(59, 20, 216, 0.1);
    height: 35px;
    overflow: hidden;
}
.box__service.expandir__Service{
    width: 100%;
    height: auto;
    border-radius: 9px;
}
.section__service__button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.delete__Service{
    background: red;
    border: 1px solid red;
    color: #f6f6f6;
    border-radius: 8px;
    font-size: 20px;
    width: 40px;
    height: auto;
    transition: 0.5s;
}
.buttonChange__service.button_ocult{
    opacity: 0;
    width: 1px;
    height: 1px;
}
.delete__Service.button_ocult{
    opacity: 0;
    width: 1px;
    height: 1px;
}
.button_ocult.section__confirm__delete{
    width: 100%;
    height: 30px;
    border: 1px solid red;
    background: transparent;
    color: #f6f6f6;
    margin-bottom: 5px;
    font-size: 14px;
    transition: 0.5s;
    opacity: 1;
}
.button_ocult.section__confirm__delete:hover{
    margin-bottom: 5px;
    border-radius: 8px;
    background: red;
    transition: 0.5s;
    opacity: 1;
}
.button_ocult{
    opacity: 0;
    width: 1px;
    height: 1px;
}
.section__cancel{
    width: 100%;
    height: 30px;
    border: 1px solid #4a17d5;
    background: #4a17d5;
    color: #f6f6f6;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    opacity: 1;
    transition: 0.5s;
}
.buttonChange__service{
    width: 100%;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #7849f4;
    font-size: 16px;
    color: #f6f6f6;
    transition: 0.5s;
}
.buttonChange__service:hover{
    background: #7849f4;
    border-radius: 8px;
    transition: 0.5s;
}
.add_Service{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    color: #1AEE07;
    padding: 10px;
    background-color: rgba(60, 206, 38, 0.1);
    margin-right: 5px;
    border: 1px solid #1AEE07;
    transition: 0.5s;
}
.add_Service span{
    color: #1AEE07;
}
.expandir {
    position: relative;
    transition: 0.5s;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.input_Container{
    position: absolute;
    padding: 5px;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    background: #1c2035;
    border: 2px solid #4a17d5;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    z-index: 5;
}
.input_AddService{
    outline: none;
    background: transparent;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 6px;
    margin-top: 6px;
    width: 100%;
    height: 35px;
    border: 1px solid #52626b;
    border-radius: 5px;
    color: #f6f6fc;
    padding-left: 5px;
}
.button__Salve__Service{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    color: #1AEE07;
    padding: 10px;
    font-size: 14px;
    background: transparent;
    margin-right: 5px;
    border: 1px solid #1AEE07;
    transition: 0.5s;
}
.button__Salve__Service:hover{
    border-radius: 5px;
    color: #141728;
    font-size: 15px;
    font-weight: 700;
    background: #1AEE07;
    transition: 0.5s;
}
.container__btn__closeANDopen__alltimes{
    width: 100%;
}
.flexDirectionRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.flexDirectionColumn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.aaaaa{
    width: 100%;
}
.button__change__times__day__off{
    border: none;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #7849f4;
    opacity: 0;
    transition: 0.5s ease;
}
.button__change__times__day__off.show {
    opacity: 1;
    width: 175px;
    height: 40px;
    font-size: 14px;
}
.span__unlink{
    text-align: justify;
    color: #52626b;
    margin-bottom: 10px;
}