.form__change__data {
    display: flex;
    flex-direction: column;
    width: 390px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'Poppis', sans-serif;  
}
.container__text__change__data{
    margin-bottom: 10px;
    color: #354249;
}
.container__form__change__data{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.input__change__data{
    width: 100%;
    background: transparent;
    border: 1px solid #7849f4;
    border-radius: 5px;
    padding: 3px;
    padding-left: 40px;
    outline: none;
    font-size: 14px;
}
.Btn__confirm__changes{
    height: 50px;
    width: 85px;
    border: 1px solid #7849f4;
    background: transparent;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.5s;
    padding: 10px;
}
.input__valided{
    border: 1px solid #4a17d5;
    border-radius: 10px;
    transition: 0.5s;
}
.Btn__valided{
    background: #4a17d5;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.icon__input__change__data{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    font-size: 22px;
}