.container__checkbox__professional{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.input__checkbox__professional{
    margin-right: 5px;
}
.icon__inSignUp{
    position: absolute;
    left: 10px;
    top: 12px;
    width: 25px;
    height: 25px;
    color: #f6f6fc;
}
.Box__forgot__password__in__barbearia{
    color: #f6f6fc;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}