.container__Booking__Details{
    width: 390px;
    height: 100vh;
}
.Box__banner__main__Booking__Details{
    width: 100%;
    height: 270px;
    overflow: hidden;
}
.background{
    background: #3542492c;
    padding-top: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.Img__banner__main__Booking__Details{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, #000 50%, rgba(0,0,0,0.01) 90%);
}
.information__barbearia__Booking__Details{
    position: absolute;
    top: 200px;
    background: transparent;
    height: 70px;
    width: 390px;
    padding-left: 5px;
}
.section__information__Booking__Details{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    margin-top: 5px;
    padding-left: 5px;
    color: gray;
    margin-bottom: 3px;
}
.date__information__Booking__Details{
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
    height: auto;
    padding-right: 5px;
    margin-right: 5px;
}
.icon__BsCalendar2{
    margin-right: 5px;
    font-size: 12px;
}
.inner__date__information__Booking__Details{
    font-size: 12px;
}
.time__information__Booking__Details{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.icon__TfiTime{
    font-size: 14px;
    margin-right: 5px;
    height: 100%;
}
.details__service__Booking__Details{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 5px;
    color: gray;
    border-bottom: 1px solid gray;
    padding-bottom: 3px;
}
.icon__details__service__Booking__Details{
    font-size: 14px;
    margin-right: 3px;
}
.inner__details__service__Booking__Details{
    display: flex;
    align-items: center;
}
.section__professional__Booking__Details{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;

}
.inner__professional__Booking__Details{
    display:flex;
    justify-content:center;
    align-items: start;
    flex-direction: column ;
    padding-left: 5px;
}
.box__professional__Booking__Details{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.img__professional__Booking__Details{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.phone__Booking__Details{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 12px;
}
.subtittle__Booking__Details{
    margin-top: 10px;
    padding-left: 5px;
}
.name__professional__Booking__Details{
    font-size: 20px;
}
.Box__btn__back__Booking__Details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.Btn__back__Booking__Details{
    height: 45px;
    width: 350px;
    background: #4a17d5;
    border: #4a17d5;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.5s;
}
.Btn__back__Booking__Details:hover{
    background: #3811a3;
    transition: 0.5s;
}