@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Serif+Gujarati:wght@100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
  font-family: 'Poppis', sans-serif;
}
.container__loading__in__bookings__history{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 400px;
}
.header__bookings__history{
    position: relative;
    backdrop-filter: blur(10px);
    width: 390px;
    background: transparent;
}
.tittle__historic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding-left: 10px;
    height: 30px;
    width: 130px;
}
.icon__FaLayerGroup{
    width: 20px;
    height: 20px;
}
.Box__input__Search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    outline: none;
    width: 100%;
    position: relative;
    flex-direction: row;
    height: auto;
    text-align: left;
}
#lupa__in__bookings__history{
    position: absolute;
    font-size: 25px;
    color: #f6f6fc;
    background: transparent;
    top: 18px;
    left: 16px;
}
.Inner__input__search{
    width: 100%;
    height: 45px;
    border-radius: 60px;
    outline: none;
    padding-left: 35px;
    padding-right: 15px;
    border: 1px solid #3542494d;
    background: #3542494d;
    font-size: 14px;
}
.section__bookings__history{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}
.section__bookings__history::-webkit-scrollbar {
    width: 0px;
}
.section__bookings__history::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__bookings__history::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.colorTexts{
    color: gray;
}
.Box__bookings__history{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #4a17d5;
    padding: 4px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.box__status__bookings__history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 5px;
    height: 75px;
    width: 100px;
}
.icon__GiSandsOfTime{
    color: #4a17d5;
    margin-bottom: 3px;
}
.icon__CiBookmarkCheck{
    color: #f6f6fc;
    margin-bottom: 3px;
}
.status__bookings__history{
    font-size: 14px;
    margin-top: 5px;
}
.date__bookings__history{
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}
.time__bookings__history{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    width: 100%;
    font-size: 12px;
}
.icon__PiTimerLight{
    display: flex;
    font-size: 14px;
    margin-right: 3px;
}
.body__bookings__history{
    display: flex;
    flex-direction: column;
    width: 240px;
}
.innner__bookings__history{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.box__message__no__bookings__history{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.btn__reagendar{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #4a17d5;
    color: #f6f6f6;
    font-size: 14px;
}
.conteiner__btn__bookings__history{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Box__icon__view__more{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.icon__IoIosArrowForward{
    font-size: 18px;
}