@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Serif+Gujarati:wght@100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}
#HeaderSignIn{
  position: relative;
  color: #f6f6fc;
  text-align: center;
  font-size: 2em;
  line-height: 0.9em;
  margin-bottom: 5px;
}
#Bemvindo{
  position: relative;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 100;
}
#Icon_Barbearia{    
  position: absolute;
  left: 10px;
  top: 11px;
  color: #fff;
}
#Icon_User{
  position: absolute;
  left: 15px;
  top: 75px;
  color: #fff;
}
#Icon_phone{
  position: absolute;
  left: 10px;
  top: 74px;
  color: #fff;
}
.Icon{
  position: absolute;
  left: 15px;
  top: 16px;
  color: #fff;
}
#button_next{
margin-bottom: 10px;
width: 300px;
padding: 15px 20px;
cursor: pointer;
font-weight: bold;
border: none;
border-radius: 12px;
color: #f6f6fc;
background: #7849f4;
transition: 0.5s;
}
.inputBox{
  position: relative;
}
.inputBox input{
  outline: none;
  background: transparent;
  border-radius: 12px;
  font-size: 1em;
  margin-bottom: 10px;
}
.inputBox input[type="text"],
.inputBox input[type="email"],
.inputBox input[type="tel"],
.inputBox input[type="password"]{
 width: 300px;
 padding: 15px 20px;
 padding-left: 40px;
 border: 1px solid #7849f4;
 color: #f6f6fc;
}

.inputBox input[type="submit"] {
  margin-bottom: 10px;
  width: 300px;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  color: #f6f6fc;
  background: #7849f4;
  letter-spacing: 1px;
  transition: 0.5s;
 
}
.inputBox input[type="submit"]:hover{
  letter-spacing: 3px;
  transition: 0.5s; 
}
form .link{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.sucess{
  color: #0f0;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}
.error{
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
}