@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Serif+Gujarati:wght@100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.container__default{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}
#HeaderSignIn{
  position: relative;
  color: #f6f6fc;
  text-align: center;
  font-size: 2em;
  line-height: 0.9em;
  margin-bottom: 5px;
}
#Bemvindo{
  position: relative;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 100;
}
#Icon_Barbearia{    
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 20px;
  color: #f6f6fc;
}
#Icon_User{
  position: absolute;
  left: 15px;
  top: 75px;
  color: #f6f6fc;
}
#Icon_phone{
  position: absolute;
  left: 10px;
  top: 74px;
  color: #f6f6fc;
}
.Icon{
  position: absolute;
  left: 15px;
  top: 16px;
  color: #f6f6fc;
}
#button_next{
  margin-bottom: 10px;
  width: 300px;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  color: #f6f6fc;
  background: #4a17d5;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
.inputBox{
  position: relative;
  
}
.center__form{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

.inputBox input{
  outline: none;
  background: transparent;
  border-radius: 12px;
  font-size: 1em;
  margin-bottom: 10px;
}
.inputBox input[type="text"],
.inputBox input[type="email"],
.inputBox input[type="tel"],
.inputBox input[type="password"]{
 position: relative;
 width: 300px;
 padding: 15px 20px;
 border: 1px solid #4a17d5;
 color: #f6f6fc;
}

.inputBox input[type="submit"] {
  margin-bottom: 10px;
  width: 300px;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  color: #f6f6fc;
  background: #4a17d5;
  letter-spacing: 1px;
  transition: 0.5s;
 
}
.inputBox input[type="submit"]:hover{
  background: #6938f0;
  transition: 0.5s; 
}

form .link{
  text-decoration: none;
  color: #f6f6fc;
  font-size: 15px;
  padding-top: 1px;
  font-weight: 500;
}
.success{
  color: #0f0;
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
  background: rgba(0, 255, 0, 0.109);
  padding: 5px;
  border-radius: 5px;
}
.error{
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
  font-size: 13px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  background: rgba(255, 0, 0, 0.229);
}
.inputBox__inner__cadastrar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__steppers{
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 50px;
}
.inner__steppers{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #4a17d5;

}
.inner__steppers__no__done{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #354249;
}
.inner__way__steppers{
  background: #4a17d5;
  height: 5px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
.inner__way__steppers__no__active{
  background: #354249;
  height: 5px;
  width: 100px;
  border: none;
  border-radius: 5px;
}
.icon__steppers{
  font-size: 20px;
  color: #f6f6fc;
}
.icon__steppers__no__active{
  font-size: 20px;
  color: gray;
}
.div_ocult{
  opacity: 0;
  width: 0;
  height: 0;
}