*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container__main{ 
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #0c0e19;
  height: 750px;
}
.header_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 385px;
  color: white;
  padding-left: 10px;
}
.Saudacao{
  color: #354249;
  font-size: 14px;
  font-weight: 700;
}
.img__user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px; 
}
.img-view-professional{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.user__name{
  display: flex;
  justify-content: start;
  flex-direction: row;
  width: 300px;
  color: #354249;
}
.settings{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 36px;
  font-size: 25px;
  margin-right: 10px;
  background: #4a17d5;
  color: #fff;
  border-radius: 5px;
}
.user__image__professional{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
#img__user__professional{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.header__agenda{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
  padding-left: 5px;
}
.icon__schedules{
  font-size: 25px;
  margin-right: 10px;
}
.container__calendar__home__barbearia{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right: 10px;
  background: #35424930;
  height: 60vh;
}
.calendar__barbearia{
  overflow-y: hidden;
  overflow-x: auto;
  width: 385px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.calendar__barbearia::-webkit-scrollbar {
  height: 2px;
}
.calendar__barbearia::-webkit-scrollbar-thumb {
  background: #354249; 
  border-radius: 5px;
}
.calendar__barbearia::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.message__notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  color: #354249;
  height: 200px;
  text-align: center;
}
.section__bookings{
  width: 385px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.section__bookings::-webkit-scrollbar {
  width: 5px;
}
.section__bookings::-webkit-scrollbar-thumb {
  background: #4a17d5; 
  border-radius: 5px;
}
.section__bookings::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.tittle__bookings{
  padding-left: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
}
.container__booking{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 385px;
}
.booking{
  background-color: #4a17d5;
  background: rgba(59, 20, 216, 0.1);
  border-left: 5px solid #0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 375px;
  height: 125px;
  color: #354249;
  transition: 0.5s;
  overflow: hidden;
}
.expandCard{
  height: 180px;
  transition: 0.5s;
}
.time__booking{
  display: flex;
  justify-content: end;
  color: black;
  width: 60px;
  padding-right: 5px;
}
.time{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #4a17d5;
  color: #fff;
}
.container_professional{
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.Box__first__letter__professional {
  width: 20px;
  height: 20px;
}
.firstLetter__professional_Span{
  font-size: 30px;
  color: #f6f6f6;
}
.name__Professional{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 10px;
  width: 250px;
  color: #f6f6f6;
}
.section__information__booking{
  padding-left: 5px;
}
.tittle__information{
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #f6f6f6;
}
.section__icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__information{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 15px;
  width: 15px;
  height: 15px;
}
.bookingTime{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  text-align: left;
  color: #354249;
  width: 50px;
  height: auto;
}