*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__main{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

}
.header_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  padding-left: 10px;
  padding-top: 20px;
}
.img__user{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}
.user__name{
  width: 250px;
}
.settings{
  width: 30px;
  height: 30px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.calendar__barbearia{
  overflow-y: hidden;
  overflow-x: auto;
  width: 385px;
  height: 70px;
  margin-top: 15px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.calendar__barbearia::-webkit-scrollbar {
  height: 2px;
}
.calendar__barbearia::-webkit-scrollbar-thumb {
  background: #354249; 
  border-radius: 5px;
}
.calendar__barbearia::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.section__bookings{
  padding-top: 10px;
  width: 385px;
}
.container__booking{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 385px;
}
.booking{
  padding-left: 5px;
  background-color: #4a17d5;
  background: rgba(59, 20, 216, 0.1);
  border-left: 5px solid #0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 385px;
  color: #354249;
  overflow: hidden;
}
.bookingTime{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  text-align: left;
  color: #354249;
  width: 50px;
  height: auto;
}