@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container__main__home__barbearia{
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 100vh;
  overflow: hidden;
}
.header_container{
  display: flex;
  flex-direction: column;
  max-width: 390px;
  height: 150px;
  color: white;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container__text__header{
  display: flex;
  width: 100%;
}
.inner__text_header{
  width: 90%;
  padding-left: 5px;
}
.text__barbearia__name{
  display: flex;
  width: 100%;
  font-size: 16px; 
  color: #f6f6f6;
}
.text__salutation{
  width: 100%;
  color: rgb(189, 187, 187);
  font-size: 12px;
}
.icon__IoNotificationsOutline{
  background: #4a17d536;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 4px;
}
.settings{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 36px;
  font-size: 25px;
  margin-right: 10px;
  color: #fff;
  border-radius: 5px;
}
.container__amount{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  height: 80px;
}
.box__amount{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tittle__amount{
  font-size: 12px;
  color: gray;
}
.text__amount{
  font-size: 25px;
  color: #f6f6f6;
}
.hidden__amount{
  width: 120px;
  height: 5px;
  background: gray;
}
.icon__AiOutlineEyeInvisible{
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  padding: 4px;
  color: #f6f6f6;
  border-radius: 50%;
  background: #4a17d536;
  cursor: pointer;
}
.container__buttons__header{
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 40px;
  width: 370px;
  padding: 3px;
  background: #4a17d558;
  margin-top: 10px;
}
.inner__buttons__header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60px;
}
.button__header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  background: transparent;
  color: #f6f6f6;
  transition: 0.5s;
}
.button__header:hover{
  background: #4a17d55e;
  transition: 0.5s;
}
.icon__RiExchangeFundsLine{
  width: 20px;
  height: 20px;
  color: #f6f6f6e9;
}
.label__button__header{
  color: gray;
  font-size: 12px;
}
.label__tittle__menu{
  padding-left: 5px;
}
.body__home__barbearia{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.447);
  height: 100%;
}
.constinner__stats__barbearia{
  display: flex;
  justify-content: space-around;
  width: 375px;
  height: 125px;
  padding-top: 10px;
  overflow-x: scroll;
}
.constinner__stats__barbearia::-webkit-scrollbar {
  height: 3px;
}
.constinner__stats__barbearia::-webkit-scrollbar-thumb {
  background: #4a17d5; 
  border-radius: 5px;
}
.constinner__stats__barbearia::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.text__stats{
  display: flex;
  align-items: center;
  color: #f6f6f6;
  background: red;
}
.inner__text__stats{
  background: black;
  width: 100%;
}
.icon__IoStatsChart{
  margin-right: 10px;
  margin-bottom: 3px;
  color: #f6f6f6;
}
.icon__SlLayers{
  color: #f6f6f6;
  margin-right: 10px;
}
.inner__stats__barbearia{
  background: transparent;
  width: 125px;
  height: 105px;
  border-radius: 10px;
  margin-right: 25px;
  padding: 4px;
  border: 1px solid #4a17d5;
  transition: 0.5s;
}
.inner__stats__barbearia:hover{
  background: #4a17d55b;
  border: 1px solid #4a17d55b;
  transition: 0.5s;
}
.text__today__in__stats{
  color: gray;
  font-size: 14px;
}

.total__bookings__today__in__stats{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-size: 30px;
  height: 40px;

}
.container__text__bookings__in__stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3px;
}
.text__bookings__in__stats{
  color: gray;
  font-size: 11px;
}
.total__bookings__today__in__stats:hover{
  color: #f6f6f6;
  transition: 0.5s;
}
.icon__IoIosArrowRoundUp{
  width: 30px;
  height: 30px;
  background: #4a17d557;
  color: #0f0;
  border-radius: 50%;
}
.icon__IoIosArrowRoundDown{
  width: 30px;
  height: 30px;
  background: #4a17d557;
  color: red;
  border-radius: 50%;
}

.icon__HiArrowPath{
  transition: transform 0.5s ease-in-out;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  color: #f6f6f6;
}
.inner__text__for__today{
  width: 100%;
}
.rotating {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text__for__today{
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #f6f6f6;
}
.img-view-professional{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.user__image__professional{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
#img__user__professional{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon__BsGraphDownArrow{
  width: 50px;
  height: 50px;
  color: #354249;
}
.message__notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  color: #354249;
  height: 200px;
  width: 100%;
  text-align: center;
}
.section__for__list__bookings{
  display: flex;
  justify-content:baseline;
  align-items: baseline;
  width: 385px;
  height: 210px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.section__for__list__bookings::-webkit-scrollbar {
  height: 1px;
}
.section__for__list__bookings::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 5px;
}
.section__for__list__bookings::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.tittle__bookings{
  padding-left: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
}
.container__booking{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 385px;
}
.booking{
  background: rgba(59, 20, 216, 0.1);
  border-left: 3px solid #0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 340px;
  height: 145px;
  color: #354249;
  transition: 0.5s;
  overflow: hidden;
}
.expandCard{
  height: 205px;
  transition: 0.5s;
}
.time__booking{
  display: flex;
  justify-content: end;
  color: black;
  width: 60px;
  padding-right: 5px;
}
.time{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #4a17d5;
  color: #fff;
}
.container_professional{
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.container__img__client__booking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__name__client{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 235px;
  padding-left: 5px;
  padding-bottom: 20px;
}
.Box__first__letter__professional {
  width: 20px;
  height: 20px;
}
.firstLetter__professional_Span{
  font-size: 30px;
  color: #f6f6f6;
}
.name__client{
  color: #f6f6f6;
}
.phone__client{
  font-size: 12px;
  color: gray;
}
.section__information__booking{
  padding-left: 5px;
}
.tittle__information{
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  margin-bottom: 7px;
  font-size: 14px;
  color: #f6f6f6;
}
.section__icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__information{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 15px;
  width: 15px;
  height: 15px;
}
.bookingTime{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  text-align: left;
  color: #354249;
  width: 50px;
  height: auto;
}