@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container__main__home__barbearia{
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 100vh;
  background: #0c0e19;
  overflow: hidden;
}
.section__scroll__home__barbearia{
  position: absolute;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.section__scroll__home__barbearia::-webkit-scrollbar {
  width: 3px;
}
.section__scroll__home__barbearia::-webkit-scrollbar-thumb {
  background: #4a17d5; 
  border-radius: 5px;
}
.section__scroll__home__barbearia::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.header_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 385px;
  color: white;
}
.conatiner__img__banner__main{
  width: 390px;
  height: 250px;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, #4a17d55a 50%, rgba(0,0,0,0.01) 90%);
}
.img__banner__main__home{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__user{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 375px;
  height: 60px;
  border-radius: 15px;
  margin-top: 10px;
}
.container__first__letter__barbearia{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #44444775;
  border: 1px solid gray;
  margin-right: 5px;
  font-size: 25px;
}
.container__text__header{
  width: 280px;
}
.text__barbearia__name{
  display: flex;
  justify-content: start;
  flex-direction: row;
  width: 200px; 
  font-size: 16px; 
  color: #f6f6f6;
}
.text__salutation{
  color: rgb(175, 174, 174);
  font-size: 14px;
}
.settings{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 36px;
  font-size: 25px;
  margin-right: 10px;
  color: #fff;
  border-radius: 5px;
}
.container__amount{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80px;
}
.box__amount{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.tittle__amount{
  font-size: 12px;
  color: white;
}
.text__amount{
  font-size: 30px;
}
.hidden__amount{
  width: 120px;
  height: 5px;
  background: #f6f6f6;
}
.icon__AiOutlineEyeInvisible{
  margin-left: 10px;
  width: 20px;
  height: 20px;
  color: #f6f6f6;
  cursor: pointer;
}
.container__buttons__header{
  position: absolute;
  margin-top: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.button__header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  background: #4a17d5;
  color: #f6f6f6;
  transition: 0.5s;
}
.button__header:hover{
  background: #4a17d55e;
  transition: 0.5s;
}
.icon__RiExchangeFundsLine{
  margin-right: 5px;
  width: 20px;
  height: 20px;
  color: #f6f6f6;
}
.label__tittle__menu{
  padding-left: 5px;
}
.body__home__barbearia{
  position: absolute;
  top: 220px;
  border-radius: 15px;
}
.img-view-professional{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.user__image__professional{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
#img__user__professional{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.professional__selected__home__barbearia{
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  color: #4a17d5;
}
.container__calendar__home__barbearia{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #35424930;
  width: 390px;
  padding: 5px;
}
.header__agenda{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  padding-left: 5px;
}
.icon__schedules{
  font-size: 25px;
  margin-right: 10px;
}
.calendar__barbearia{
  overflow-y: hidden;
  overflow-x: auto;
  width: 385px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.calendar__barbearia::-webkit-scrollbar {
  height: 2px;
}
.calendar__barbearia::-webkit-scrollbar-thumb {
  background: #354249; 
  border-radius: 5px;
}
.calendar__barbearia::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.message__notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  color: #354249;
  height: 200px;
  text-align: center;
}
.section__bookings{
  width: 385px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.section__bookings::-webkit-scrollbar {
  width: 5px;
}
.section__bookings::-webkit-scrollbar-thumb {
  background: #4a17d5; 
  border-radius: 5px;
}
.section__bookings::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}
.tittle__bookings{
  padding-left: 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 15px;
}
.container__booking{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 385px;
}
.booking{
  background-color: #4a17d5;
  background: rgba(59, 20, 216, 0.1);
  border-left: 3px solid #0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 365px;
  height: 125px;
  color: #354249;
  transition: 0.5s;
  overflow: hidden;
}
.expandCard{
  height: 180px;
  transition: 0.5s;
}
.time__booking{
  display: flex;
  justify-content: end;
  color: black;
  width: 60px;
  padding-right: 5px;
}
.time{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #4a17d5;
  color: #fff;
}
.container_professional{
  display: flex;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.container__name__client{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 235px;
  padding-left: 5px;
}
.Box__first__letter__professional {
  width: 20px;
  height: 20px;
}
.firstLetter__professional_Span{
  font-size: 30px;
  color: #f6f6f6;
}
.name__client{
  color: #f6f6f6;
}
.phone__client{
  color: gray;
}
.section__information__booking{
  padding-left: 5px;
}
.tittle__information{
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #f6f6f6;
}
.section__icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__information{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-size: 15px;
  width: 15px;
  height: 15px;
}
.bookingTime{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  text-align: left;
  color: #354249;
  width: 50px;
  height: auto;
}