*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_main{
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background: red;
}
.header_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: yellow;
  color: black;
}
.img__user{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: red;
}
.settings{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: red;
}
.agendamentos{
  background: white;
  color: black;
}