.container__statistic__barbearia{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 385px;
    min-height: 100dvh;
}
.icon__LuGanttChartSquare{
    width: 25px;
    height: 25px;
    color: #f6f6f6;
    margin-right: 5px;
}
.dropdown__year__statistic__barbearia{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-top: 15px
}
.arrowYear{
    transition: 0.5s;
    color: #f6f6f6;
    margin-left: 2px;
}
.another__year__hidden{
    opacity: 0;
    margin-bottom: 5px

}
.another__year__statistic__barbearia{
    opacity: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 8px;
    background: transparent;
    margin-top: 3px;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}
.box__details__statistic__barbearia:hover{
    background: #4a17d564;
    transition: 0.5s;
}
.box__details__statistic__barbearia{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70px;
    padding-left: 5px;
    color: #f6f6f6;
    border: 1px solid #4a17d5;
    border-radius: 5px;
    transition: 0.5s;

}
.container__grafic__area__statistic__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #354249;
    border-radius: 12px;
    width: 100%;
}
.title__grafic____statistic__barbearia{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.section__grafic__barbearia{
    width: 355px;
    height: 225px;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: 0.5s;
}
.custom-tooltip{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    border-left: 1px solid #f6f6f6;
    background: #4a17d524;
    font-size: 14px;
}
.fillforeground{
    color: #f6f6f6;
}
.section__grafic__barbearia::-webkit-scrollbar {
    height: 0;
}
.section__grafic__barbearia::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__grafic__barbearia::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.details__amount__statistic__barbearia{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
}
.inner__details__statistic__barbearia{
    margin-bottom: 5px;
}
.comission__professional__statistic__barbearia{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section__input__search__statistic__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.inner__input__search__statistic__barbearia{
    width: 100%;
}
.btn__cancel__search__booking{
    opacity: 1;
    width: 60px;
    height: 45px;
    margin-right: 5px;
    margin-top: 65px;
    color: #f6f6f6;
    border: none;
    background: transparent;
}
.hidden_btn__cancel__search__booking{
    opacity: 0;
    width: 0;
    height: 0;
}
.date_time__booking__in__statistic__barbearia{
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-right: 5px
}
.date_booking__in__statistic__barbearia{
    font-size: 14px;
    color: gray;
    text-align: right;
}
.time_booking__in__statistic__barbearia{
    font-size: 15px;
    color: gray;
    text-align: right;

}
.section__bookings__in__statistic__barbearia{
    width: 385px;
    padding-right: 5px;
}

.Box__booking__in__statistic__barbearia{
    background: rgba(59, 20, 216, 0.1);
    border-left: 3px solid #0f0;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
    height: 85px;
    color: #354249;
    transition: 0.5s;
    overflow: hidden;
}
.message__notFound__statistic__barbearia{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;
        color: #354249;
        height: 700px;
        width: 100%;
        text-align: center;
}