.container__statistic__barbearia{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 385px;
    height: auto;
}
.dropdown__year__statistic__barbearia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}
.arrowYear{
    transition: 0.5s;
    color: #f6f6f6;
}
.another__year__hidden{
    opacity: 0;
}
.another__year__statistic__barbearia{
    opacity: 1;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 8px;
    background: rgba(128, 128, 128, 0.174);
    transition: 0.5s;
}
.box__details__statistic__barbearia{
    width: 100%;
    text-align: center;
    padding-left: 5px;
}
.section__grafic__barbearia{
    width: 355px;
    height: 195px;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: 0.5s;
}
.custom-tooltip{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    border-left: 1px solid #f6f6f6;
    background: #4a17d524;
    font-size: 14px;
}
.section__grafic__barbearia::-webkit-scrollbar {
    height: 0;
}
.section__grafic__barbearia::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__grafic__barbearia::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.details__amount__statistic__barbearia{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
}
.inner__details__statistic__barbearia{
    margin-bottom: 5px;
}
.comission__professional__statistic__barbearia{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section__input__search__statistic__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.inner__input__search__statistic__barbearia{
    width: 100%;
}
.btn__cancel__search__booking{
    opacity: 1;
    width: 60px;
    height: 45px;
    margin-right: 5px;
    margin-top: 65px;
    color: #f6f6f6;
    border: none;
    background: transparent;
}
.hidden_btn__cancel__search__booking{
    opacity: 0;
    width: 0;
    height: 0;
}
.date_time__booking__in__statistic__barbearia{
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-right: 5px
}
.date_booking__in__statistic__barbearia{
    font-size: 14px;
    color: gray;
    text-align: right;
}
.time_booking__in__statistic__barbearia{
    font-size: 15px;
    color: gray;
    text-align: right;

}
.section__bookings__in__statistic__barbearia{
    width: 385px;
    padding-right: 5px;
}

.Box__booking__in__statistic__barbearia{
    background: rgba(59, 20, 216, 0.1);
    border-left: 3px solid #0f0;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
    height: 85px;
    color: #354249;
    transition: 0.5s;
    overflow: hidden;
}