.container__statistic__barbearia{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 385px;
    min-height: 100dvh;
    overflow-x: hidden;
}
.icon__LuGanttChartSquare{
    width: 25px;
    height: 25px;
    color: #f6f6f6;
    margin-right: 5px;
}
.dropdown__year__statistic__barbearia{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    padding-right: 5px;
}
.arrowYear{
    transition: 0.5s;
    color: #f6f6f6;
    margin-left: 2px;
}
.another__year__hidden{
    opacity: 0;
    margin-bottom: 5px

}
.another__year__statistic__barbearia{
    opacity: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5px;
    background: transparent;
    margin-top: 3px;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}
.box__details__statistic__barbearia:hover{
    background: #4a17d564;
    transition: 0.5s;
}
.box__details__statistic__barbearia{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 70px;
    padding-left: 5px;
    color: #f6f6f6;
    border: 1px solid #4a17d5;
    border-radius: 5px;
    transition: 0.5s;

}
.container__grafic__statistic__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #354249;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 20px;
}
.title__grafic____statistic__barbearia{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
}
.section__grafic__barbearia{
    width: 355px;
    height: 225px;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: 0.5s;
}
.custom-tooltip{
    display: flex;
    justify-content: start;
    flex-direction: row;
    padding: 5px;
    border-radius: 5px;
    background: #4a17d524;
    font-size: 14px;
}
#line__tooltip{
    background: #4a17d5;
    height: 20px;
    width: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}
.section__grafic__barbearia::-webkit-scrollbar {
    height: 0;
}
.section__grafic__barbearia::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__grafic__barbearia::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.tittle__historic__in__statistic__barbearia{
    margin-bottom: 10px;
}
.details__amount__statistic__barbearia{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
}
.inner__details__statistic__barbearia{
    margin-bottom: 5px;
    display: flex;
    width: 375px;
}
.box__values__details__statistic__barbearia{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 3px;
}
#line__details__statistic__barbearia{
    margin-bottom: 5px;
    margin-top: 5px;
}
.border__left__details__statistic__barbearia{
    min-height: 80px;
    width: 3px;
    background: #4a17d5;
    padding-right: 3px;
    border: none;
}
.title__details__statistic__barbearia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: gray;
}
.comission__professional__statistic__barbearia{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section__input__search__statistic__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}
.inner__input__search__statistic__barbearia{
    width: 100%;
}
.Box__input__Search__statistic__barbearia {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 30px;
    transition: 0.5s;
}
.active__box__input__Search__statistic__barbearia{
    width: 100%;
    border-radius: 50px;
    outline: none;
    border: transparent;
    background: transparent;
    font-size: 14px;
    padding-left: 12px;
    transition: 0.5s;
}
.lupa__in__statistic__barbearia {
    position: absolute;
    font-size: 25px;
    margin-right: 2px;
    color: #f6f6fc;
    background: transparent;
    transition: 0.5s;

}
.active__lupa__in__statistic__barbearia{
    position: absolute;
    font-size: 25px;
    margin-right: 270px;
    color: #f6f6fc;
    background: transparent;
    transition: 0.5s;

}
.input__search__statistic__barbearia {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: transparent;
    background: #3542493b;
    font-size: 14px;
    padding-left: 30px;
    transition: 0.5s;
}
.active__input__Search__statistic__barbearia{
    background: #3542493b;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    padding-left: 27px;

}
.inner__comission__professional__statistic__barbearia{
    display: flex;
    justify-content: space-between;
}
.btn__cancel__search__booking{
    opacity: 1;
    width: 60px;
    height: 45px;
    padding-right: 5px;
    margin-left: 5px;
    margin-top: 75px;
    color: #f6f6f6;
    border: none;
    font-size: 14px;
    background: transparent;
}
.hidden_btn__cancel__search__booking{
    opacity: 0;
    width: 0;
    height: 0;
}
.date_time__booking__in__statistic__barbearia{
    display: flex;
    flex-direction: column;
    width: 265px;
    padding-right: 5px
}
.date_booking__in__statistic__barbearia{
    font-size: 14px;
    color: gray;
    text-align: right;
}
.time_booking__in__statistic__barbearia{
    font-size: 15px;
    color: gray;
    text-align: right;

}
.section__bookings__in__statistic__barbearia{
    width: 375px;
    padding-right: 5px;
}

.booking__in__statistic__barbearia {
    display: flex;
    margin-bottom: 10px;
    padding-right: 10px;
    width: 100%;
    height: 85px;
    color: #354249;
    transition: 0.5s;
    overflow: hidden;
    border: none;
    border-bottom: 1px solid #3542496c;
}
.expandCard__booking__in__statistic__barbearia {
    height: 235px;
    transition: 0.5s;
}
.container__values__booking__in__statistic__barbearia{
    width: 100%;
}
.border__left__booking__in__statistic__barbearia{
    width: 3px;
    min-height: 90px;
    padding: 2px;
    border-radius: 5px;
    background: #0f0;
}
.message__notFound__statistic__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    color: #354249;
    height: 700px;
    width: 100%;
    text-align: center;
}