.container__in__AccountActivationClient{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    height: 100dvh;
}
.information__in__AccountActivationClient{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form__in__AccountActivationClient{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.box__input__in__AccountActivationClient{
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espaço entre as caixinhas */
}
.input__code__verification{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid #4a17d5;
}
.input__submit__code__verification{
    background: #4a17d5;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-top: 25px;
    border: 1px solid #4a17d5;
    color: #f6f6fc;
    font-size: 14px;
    margin-bottom: 20px;
}
.resend__code__verification{
    color: #f6f6fc;
    transition: 0.5s;

}
.resend__code__verification:hover{
    color: #f6f6fc89;
    transition: 0.5s;
}
.time__resend__code__verification{
    color: gray;
}
.Box__edit__number__disable{
    display: flex;
}
.Box__edit__number{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}
.input__number__edit{
    text-align: center;
    height: 20px;
    width: 90px;
    background: transparent;
    border: none;
    outline: none;
    color: #f6f6fc;
    border-bottom: 1px solid #4a17d5;
    margin-right: 3px;
}
.icon__edit__number{
    color: #f6f6fc;
    font-size: 15px;
    margin-left: 5px;
}
.icon__CiSquareCheck__number{
    color: #4a17d5;
    font-size: 15px;
}