.container__notification{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 390px;
}
.section__notification{
    width: 100%;
    background: #1c2035;
    border-radius: 10px;
}
.header__notification{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 5px;
}
.tittle__notification{
    padding-left: 15px;
    padding-top: 10px;
    width: 100%;
}
.section__barbearia__notification{
    padding-left: 15px;
    padding-right: 15px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.section__barbearia__notification::-webkit-scrollbar {
    width: 5px;
}
.section__barbearia__notification::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__barbearia__notification::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.box__barbearia__notification{
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    height: 150px;
    overflow: hidden;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.Box__img__capa__barbearia{
    height: 130px;
    width: 125px;
    border-radius: 5px;
    overflow: hidden;
}
.img__capa__barbearia{
    width: 100%;
    height: 130px;
    border-radius: 5px;
    object-fit: cover;
}
.section__body__notification{
    display: flex;
    flex-direction: column;
    width: 215px;
}
.name__barbearia{
    width: auto;
    height: 50px;
    color: #fff;
    font-size: 18px;
}
.average__inNotification{
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}

.icon__start__notification{
    margin-right: 3px;
    color: #4a17d5;
}
.address{
    font-size: 12px;
    color: gray;
    height: 50px;
}
.container__button__confirm__notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.Btn__accept__notfication{
    border: 1px solid #4a17d5;
    padding: 5px;
    width: 80px;
    background: #4a17d5;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}
.Btn__refuse__notfication{
    border: 1px solid #4a17d5;
    padding: 5px;
    width: 80px;
    background: transparent;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}