@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Serif+Gujarati:wght@100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
  font-family: 'Poppis', sans-serif;
}
.containerHome{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  width: 400px;
  min-height: 100dvh; 
  padding-top: 330px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Poppis', sans-serif;
  background: transparent;
  overflow: hidden;
}
.container__skeletons{
  background: transparent;
  position: absolute;
  top: 330px;
  height: 100dvh;
}
.header {
  position: fixed;
  font-family: 'Poppis', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2vh;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease; /* Alterada para aplicar transição em todas as propriedades */
  z-index: 1;
  height: 37%;
}
.header.scrolled {
  height: 10%;
  transition: all 0.3s ease;
  
}
.hideDiv{
  opacity: 0;
  transition: height 0.3s ease;
  width: 0px;
  height: 0px;
}
.imgBoxSectionUser{
  position: relative;
  width: 100%;
  padding: 5px;
  height: 25%;
  border-radius: 30px;
  text-align: left;
  display: flex;
  flex-direction: row;
  background: transparent;
  margin-bottom: 3px;
  transition: all 0.3s ease;
}
.img__user__in__home__page{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: transparent;
  margin-right: 10px;
  object-fit: cover;
  transition: all 0.3s ease; 
}
.box__first__letter__user{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4a17d5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.spanUser{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: white;
  padding: 2px;
  background: transparent;
  transition: all 0.3s ease;
}
.spanUser span{
  background: transparent;
}
.nameUser{
  background: transparent;
  font-size: 16px;
}
.saudacao{
  color: #b1b1b5;
  font-size: 14px;
  font-weight: 500;
}

.Barbeasy{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  width: 100%;
  transition: all 0.3s ease;
  height: 50%;
}
#logoBarbeasy{
  width: 100px;
  height: 100px;
  background: transparent;
  transition: all 0.3s ease;
}
.Barbeasy h1{
 background: transparent;
 color: #f6f6fc;
 font-size: 5vh;
 transition: all 0.3s ease;
}
.containerSearch.header__Search{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 10vh;
}
.containerSearch{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #6D48D6;
  width: 100%;
  height: 70px;
  padding-top: 5px;
  background: transparent;
}
.lupa{
  position: absolute;
  font-size: 20px;
  color: #f6f6fc;
  background: red;
  top: 17px;
  left: 35px;
}
.icon__filter{
  width: 35px;
  height: 25px;
  position: absolute;
  right: 40px;
  font-size: 15px;
  border-left: 1px solid #f6f6fc;
  color: #f6f6fc;
  cursor: pointer;
}
.inputBoxSearch{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  height: auto;
  text-align: left;
  background: transparent;
  padding: 5px;
}
#inputSearch{
  padding-left: 40px;
  outline: none;
  border: none;
  border-radius: 50px;
  width: 90%;
  height: 45px;
  margin-right: 5px;
  background: #3542494d;
  color: white;
  padding-right: 10px;
}
.inputBoxSearch input[type="search"]::placeholder{
  color: gray;
  font-weight: 500  ;
  letter-spacing: 1px;
}
#Search{
  color: gray;
  border: none;
  height: 40px;
  border-radius: 10px;
  width: 800px;
  margin-left: 5px;
  font-weight: bold;
  transition: height 0.3s ease;
}

#h3{
  position: relative;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  width: 100%;
  padding-left: 10px;
  left: 0;
  top: 4px;
  z-index: 1;
}
.container__text__topBarbearias{
  margin-bottom: 10px;
  width: 100%;
  text-align: justify;
  color: gray;
}
.containerBarbearia {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  border-bottom: 1px solid #1c2035;
  margin-bottom: 10px;
  overflow: hidden;
  border: 1px solid #4a17d5;
  border-radius: 10px;
  background: rgb(53 66 73 / 37%);
}
.section {
  position: relative;
  bottom: 10px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 85px;
  padding-bottom: 20px;
}
.imgBoxSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
}
.imgBoxSection img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Barbearias{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: row;
  height: 37px;
  width: 100%;
  font-size: 12px;
  color: black;
}
.Barbearias h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6fc;
  font-weight: 300;
  overflow: hidden;
  background: transparent;
  margin-top: 60px;
  width: 100%;
}
.box__logo__barbeasy{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  width: 100%;
  height: 80px;
  background: transparent;
}
.inner__img__logo__barbeasy{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #f6f6fc;
  background: #1c2035;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.img__logo__barbeasy{
  width: 37px;
  height: 37px;
  background: transparent
}
.icon__star{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a17d5;
  font-size: 18px;
  height: 100%;
  overflow: hidden;
}
.endereco{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
}
.section__status{
  position: absolute;
  top: -35px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}
.section__star{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #44444787;
  border-radius: 5px;
  padding: 2px;
  font-size: 14px;
}
.agendar{
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  color: #f6f6fc;
  border: none;
  font-size: 14px;
  border: 1px solid #1c2035;
  background: #4a17d5;
}
.Navigation{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45px;
  height: 45px;
  bottom: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
  border-radius: 60px;
  z-index: 3000;
}
.Navigation.active{
  width: 285px;
  background: #4a17d564;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 3000;
}
.Navigation li{
  list-style: none;
  transition: 0.5s;
  transform: scale(0);
  background: transparent;
}
.Navigation.active li{
  transition-delay: 0.75s;
  display: flex;
  transform: scale(1);
  color: #4a17d5;
  background: transparent;
}
.Navigation li button{
  color: #f6f6fc;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  background: transparent;
  border: none;
  width: auto;
}
.Navigation li button:hover{
  color: #ffffff4c;
  background: transparent;
}
.aberto {
  position: relative;
  color: rgb(0, 255, 0);
  padding: 5px;
  width: auto;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 255, 0, 0.164);
}
.fechado {
  position: relative;
  color: red;
  background: rgba(255, 0, 0, 0.211);
  padding: 5px;
  border-radius: 5px;
  width: auto;
  text-align: center;
  font-size: 14px;
}
.icon__CiImageOn{
  width: 70px;
  height: 70px;
  color: gray;
}
.in__home__barbearia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon__LuSearchX{
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
}
.message__barbearia__not__found{
  text-align: center;
  overflow: hidden;
  width: 385px;
  text-overflow: ellipsis;
  white-space: wrap;

}

/* Media query para responsividade */
@media (max-width: 750px) {
  .inputBoxSearch {
    min-width: 90%;
  }
}

@media (max-width: 450px) {
  .inputBoxSearch {
    min-width: 400px;
  }
}