@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Serif+Gujarati:wght@100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main__get__started{
  max-width: 390px;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #0c0e19;
}
.header__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}
#welcome{
  color: #0f0;
}
.option{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  border-radius: 12px;
  padding: 5px;
  width: 350px;
}
.section_option{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  border: 1px solid #f6f6fc;
  color: #f6f6fc;
  height: 55px;
  width: 100%;
}
.section_option.selected{
    background-color: #4a17d54f;
    border: 1px solid #4a17d5;
    border-radius: 50px;
    color: #f6f6fc;
    transition: 0.5s;
}
.tittle__option{
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.container__button__link{
  position: fixed;
  bottom: 75px;
}
.button__link{
  width: 340px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 50px;
  color: #f6f6fc;
  font-size: 18px;
  background: #4a17d5;
  transition: 0.5s;
}

.footer {
  position: fixed;
  bottom: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  text-align: center;
  font-size: 0.9rem;
  color: #6c757d;
  
}

.footer-links {
  margin-bottom: 0.5rem;
}

.footer-link {
  color: #6c757d;
  text-decoration: underline;
  margin: 0 0.5rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-divider {
  color: #6c757d;
}

.copyright-text {
  margin: 0;
  font-size: 0.85rem;
  color: #6c757d; 
}
