@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Serif+Gujarati:wght@100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: #0c0e19;
}
.header__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
}
#welcome{
  color: #0f0;
}
.option{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  border-radius: 20px;
  padding: 10px;
  background: #1c2035;
  color: #354249;
  max-width: 370px;
}
.section_option{
  padding: 10px;
  border-radius: 5px;
  color: #354249;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 15px;
  margin-top: 10px;
  background: #171a1e;
}
.section_option.selected{
    background-color: #4a17d5;
    color: #f6f6fc;
    border-radius: 15px;
    transition: 0.5s;
}
.tittle__option{
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 3px;
  width: 100%;
}
#hr{
  width: 100px;
  border: 1px solid;
  margin-bottom: 10px;
}

.button__link{
  width: 350px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  color: #f6f6fc;
  font-size: 25px;
  background: #7849f4;
  transition: 0.5s;
}