.container__main__Schedule__barbearia{
    min-height: 97.7vh;
    width: 390px;
}
.header__bookings__schedule{
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    background: transparent;
}
.back__in__schedule{
    margin-top: 10px;
    padding-left: 5px;
    background: transparent;
}
.text__schedule__information{
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 385px;
    color: gray;
}
.body__Schedule__barbearia{
    display: flex;
    flex-direction: column;
    padding-top: 195px;
    padding-right: 10px;
    margin-top: 10px;
    height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.body__Schedule__barbearia::-webkit-scrollbar {
    width: 5px;
}
.body__Schedule__barbearia::-webkit-scrollbar-thumb {
   background: transparent; 
   border-radius: 5px;
}
.body__Schedule__barbearia::-webkit-scrollbar-thumb:hover {
    background: #4a17d5; 
}
.inner__header__agenda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 120px;
    padding-left: 10px;
    margin-bottom: 10px;
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.animation__fade{
    animation: fadeOut 6s forwards ease;
    animation-delay: 0.0s, 0.9s;
}