.container__main__Schedule__barbearia{
    min-height: 97.7vh;
}
.text__schedule__information{
    font-size: 14px;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 385px;
    color: gray;
}
.body__Schedule__barbearia{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-right: 10px;
    margin-top: 10px;
    height: 515px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.body__Schedule__barbearia::-webkit-scrollbar {
    width: 5px;
}
.body__Schedule__barbearia::-webkit-scrollbar-thumb {
   background: transparent; 
   border-radius: 5px;
}
.body__Schedule__barbearia::-webkit-scrollbar-thumb:hover {
    background: #4a17d5; 
}
.inner__header__agenda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 120px;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}