.container__signup__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
}
#tittle_p{
    margin-bottom: 5px;
    color: #f6f6fc;
    width: 100%;
    font-weight: 400;
}
#street_icon{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 25px;
    height: 25px;
    color: #f6f6fc;
}
#street_number{
    position: absolute;
    top: 101px;
    left: 10px;
    width: 25px;
    height: 25px;
    color: #f6f6fc;
}
#neighborhood_icon{
    position: absolute;
    left: 10px;
    top: 163px;
    width: 20px;
    height: 20px;
    color: #f6f6fc;
}
#city_icon{
    position: absolute;
    left: 10px;
    top: 221px;
    width: 25px;
    height: 25px;
    color: #f6f6fc;
}
#Icon_user_barbearia{
    position: absolute;
    left: 12px;
    top: 42px;
    width: 20px;
    height: 20px;
    color: #f6f6fc;
}
#icon_email{
    position: absolute;
    left: 10px;
    top: 101px;
    width: 25px;
    height: 25px;
    color: #f6f6fc;
}
#icon_password{
    position: absolute;
    left: 10px;
    top: 161px;
    width: 25px;
    height: 25px;
    color: #f6f6fc;
}
.Box__cadastro__barbearia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__IoStorefrontOutline{
    width: 20px;
    height: 20px;
    color: #f6f6fc;
    margin-right: 5px;
    margin-bottom: 2px;
}

.Box__endereco__barbearia{
    display: flex;
    justify-content: start;
    padding-left: 25px;
    width: 100%;
}
.icon__GrMapLocation{
    width: 22px;
    height: 22px;
    color: #f6f6fc;
    margin-bottom: 2px;
    margin-right: 5px;
}
.icon__VscEyeClosed__in__signup__barbearia{
    position: absolute;
    margin-left: 250px;
    font-size: 22px;
    margin-top: 150px;
}