.container__Calendar{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}
.month{
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
}
.year{
    font-size: 15px;
    letter-spacing: 2px;
}
.sectionCalendar {
    width: 380px;
    height: 75px;
    overflow-x: auto; 
    overflow-y: hidden; 
    display: flex;
    flex-direction: column;
}
.list__Names__Week__And__Day{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
    font-family: 'Poppis', sans-serif;
}
.list__name__Week{
   position: relative;
   text-align: center;
   margin-left: 7px;
   padding: 2px;
   z-index: 900;
   transition: 0.5s;
}
.dayWeekCurrent{
    border: 1px solid #4a17d5;
    width: 45px;
}
.currentDay {
    background: #354249; /* Substitua com a cor desejada */
    color: white; /* Cor do texto no dia atual */
    border-radius: 6px;
    border: none;
    width: 45px;
    padding: 1px;
}
.selectedDay {
    background-color: #4a17d5; /* Substitua com a cor desejada para o dia selecionado */
    color: white; /* Cor do texto no dia selecionado */
    border-radius: 8px;
    width: 45px;
    transition: 0.5s;
  }

  /*alteração*/
  .container__horarios{
    display: flex;
    flex-direction: row;
    width: 385px;
    padding-left: 5px;
    overflow-x: scroll;
    margin-bottom: 10px;
  }

  .horarios{
    border: 1px solid #4a17d5;
    padding: 3px;
    margin: 5px;
  }

.container__horarios::-webkit-scrollbar {
    height: 2px;
}
.container__horarios::-webkit-scrollbar-thumb {
    background: #354249; 
    border-radius: 5px;
}
.container__horarios::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.Box__day{
    letter-spacing: 1px;
    font-size: 12px;
}
.Box__NumDay{
    font-weight: bold;
    font-size: 18px;
}
.Box__month{
    letter-spacing: 1px;
    font-size: 12px;
}
.sectionCalendar::-webkit-scrollbar {
    height: 2px;
}
.sectionCalendar::-webkit-scrollbar-thumb {
    background: #354249; 
    border-radius: 5px;
}
.sectionCalendar::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.Btn__ocult{
    opacity: 0;
    background: transparent;
    border: 1px solid #4a17d5;
    color: #4a17d5;
    transition: 0.5s;
}
.AgendamentoButton{
    width: 380px;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: transparent;
    padding: 10px;
    border: 1px solid #4a17d5;
    color: #f6f6f6;
    transition: 0.5s;
    opacity: 1;
}
.AgendamentoButton:hover{
    background:#4a17d5;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}
.Box__url__payment__mercado__pago{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
}
.url__payment__mercado__pago{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    background: #4a17d5;
    color: #f6f6f6;
    transition: 0.5s;
}
.url__payment__mercado__pago:hover{
    background: #4a17d5bc;
    transition: 0.5s;
}
.icon__mercado__pago{
    font-size: 40px;
    margin-right: 5px;
}
.text__payWithSecurity{
    margin-top: 5px;
    font-size: 14px;
    color: gray;
}