.header_container__in__home__professional{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    width: 100%;
    height: 180px;
    color: white;
    padding: 10px;
    backdrop-filter: blur(10px);
    z-index: 1px;
}
.saudacao__in__home__professional{
    color: gray;
    font-size: 14px;
}
.container__amount__home__professional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}
.container__main__in__home__professional{
    height: 100vh;
    width: 390px;
    padding-top: 190px;
}
.container__calendar__home__professional{
    background: #3542492b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60vh;
    padding-left: 5px;
}
.img__user__professional{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 15px;
    width: 385px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.user__img__home__professional{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.user__name__professional{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 260px;
}
.imgViewDefault{
    font-size: 30px;
}
.icon__notification{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff75;
    font-size: 30px;
    cursor: pointer;
}
.circle__notification{
    position: absolute;
    margin-left: 12px;
    margin-bottom: 7px;
    background: #4a17d5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.header__agenda__in__home__professional{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 95px;
}
.text__agenda__in__home__professional{
    color: #f6f6f6;
    margin-top: 3px;
}
.container__currentDate__in__home__professional{
    margin-top: 5px;
    padding-bottom: 15px;
}
.inner__text__currentDate__in__home__professional{
    color: gray;
    font-size: 14px;
}