.container__calendar__home__professional{
    background: #3542492b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60vh;
    padding-left: 5px;
}
.img__user__professional{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    width: 385px;
    margin-bottom: 10px;
}
.user__name__professional{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    padding-left: 5px;
}
.imgViewDefault{
    font-size: 30px;
}
.icon__notification{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff75;
    font-size: 30px;
    cursor: pointer;
}
.circle__notification{
    position: absolute;
    margin-left: 12px;
    margin-bottom: 7px;
    background: #4a17d5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.section__barbearia__InHome{
    width: 385px;
    padding-left: 5px;
    height: 130px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.Box__image__barbearia__inHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 1px solid #4a17d5;
}
.firstLetter__barbearia__InHome{
    color: #fff;
    font-size: 25px;
}
.name__professional__InHome{
    font-size: 16px;
}
.name__barbearia__InHome{
    height: 25px;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    width: 110px;
}
.subtittle__professional{
    color: #4a575e;
    font-weight: 500;
}
.barbeariaSelected{
    border-bottom: 2px solid #4a17d5;
    color: #4a17d5;
}