.container__calendar__home__professional{
    background: #3542492b;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60vh;
    padding-left: 5px;
}
.img__user__professional{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    width: 385px;
    margin-bottom: 10px;
}
.user__name__professional{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    padding-left: 5px;
}
.imgViewDefault{
    font-size: 30px;
}
.icon__notification{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff75;
    font-size: 30px;
    cursor: pointer;
}
.circle__notification{
    position: absolute;
    margin-left: 12px;
    margin-bottom: 7px;
    background: #4a17d5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.section__barbearia__InHome{
    width: 385px;
    padding-left: 5px;
    height: 130px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.section__barbearia__InHome::-webkit-scrollbar {
    height: 5px;
}
.section__barbearia__InHome::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__barbearia__InHome::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.Box__barbearia__inHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3px;
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.Box__image__barbearia__inHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 100%;
}
.inner__firstLetter__barbearia__InHome{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4a17d5;
    height: 85px;
    width: 85px;
    border-radius: 50%;
}
.firstLetter__barbearia__InHome{
    color: #fff;
    font-size: 25px;
}
.name__professional__InHome{
    font-size: 16px;
}
.name__barbearia__InHome{
    text-align: center;
    height: 25px;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    width: 110px;
}
.subtittle__professional{
    color: #4a575e;
    font-weight: 500;
}
.barbeariaSelected{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    color: #4a17d5;
}
.box__unlink__barbearia{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    margin-left: 5px;
    margin-bottom: 50px;
    width: 95px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.5s;
    background: #4a17d5;
    color: #f6f6f6;
    cursor: pointer;
}
.box__unlink__barbearia:hover{
    transition: 0.5s;
    background: #4a17d576;
}
.ocultDivUnlink{
    opacity: 0;
    transition: 0.5s;
    
}
.mini__menu__in__homeProfessional{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: end;
}
.icon__SlOptionsVertical__inHomeProfessional{
    height: 20px;
    width: 20px;
    padding: 2px;
    cursor: pointer;
}


/* App.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .content {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
  }
  
  .content.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Adicione estas classes específicas para o novo conteúdo */
  .form__change__data-container {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
  }
  
  .form__change__data-container.show {
    opacity: 1;
    transform: translateY(0);
  }