@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Sans:wght@100;200;400;500;700;900&family=Noto+Serif+Gujarati:wght@100&family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:wght@200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
.ContainerMain{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    min-width: 350px;
    font-family: 'Poppis', sans-serif;
    background: #0c0e19;
}
#barbDetails{
    color: white;
    font-weight: bold;
    width: auto;
}

.Outdoor{
    position: relative;
    width: 390px;
    height: auto;
    background: transparent;
    margin-bottom: 10px;
}
.imgOutdoor{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 390px;
    height: 270px;
}
.Slide__Box{
    position: relative;
    width: 390px;
    height: 270px;
    object-fit: cover;
}
.slider__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, #000 50%, rgba(0,0,0,0.01) 90%);
}
.BarbeariaInformation{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    bottom: 10px;
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-bottom: 3px;
    color: #f6f6fc;
    z-index: 1000;
}

#BarbeariaName{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color: #f6f6fc;
}
.icon__start__in__BarbeariaInformation{
    color: yellow;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 25px;
    padding-bottom: 5px;
}
.location{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    color: #f6f6fc;
    text-align: left;
    background: transparent;
    
}
.location p{
    width: auto;
    margin-left: 3px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.location_icon{
    width: 15px;
    height: 15px;
}

hr{
    width: 370px;
    border: 1px solid #1c2035;
}
h4{
    color:#354249;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}
.tittle{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 13px;
    font-size: 15px;
    color: #f6f6fc;
    font-weight: 700;
    letter-spacing: 1px;

}
.professionals{
    display: flex;
    width: 380px;
    margin-bottom: 10px;
}

.Box__professional.professionalSelected{
    width: 120px;
    height: 90px;
    border-radius: 10px;
    margin-top: 2px;
    background: #270683;
    transition: 0.5s;
}
.professionalSelected .Box__image{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-top: 5px;
    border: 1px solid #fff;
    transition: 0.5s;
}
.inforService{
    border-radius: 10px;
    display: flex;
    color: #f6f6f6;
    padding: 5px;
    background: rgb(53 66 73 / 37%);;
}
.Icon__info{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.Servicos {
    width: 350px;
    max-height: 230px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow-x: hidden; 
    overflow-y: auto;
    margin-top: 10px;
}
.Servicos::-webkit-scrollbar {
    width: 5px;
}
.Servicos::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.Servicos::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.servicoDiv {
    text-align: center;
    height: 70px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #4a17d5;
    color: #6b3fe4;
    cursor: pointer;
    text-align: left;
    transition: 0.5s;
}
.servicoDiv.selected {
    background-color: #4a17d5;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.tittle__Calendar{
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 13px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #354249;
    font-weight: 700;
}
/*seção dos horarios*/
.Horarios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;

}
span{
    color: #354249;
    font-weight: 800;
    transition: 0.5s;
}
.horarioDiv {
    position: relative;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
    border: 1px solid #4a17d5;
    color: #6b3fe4;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}
.horarioDiv.selected {
    background-color: #4a17d5;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.mercadoPagoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3483fa;
    color: white;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
} 
.mercadoPagoButton:hover {
    background-color: #2968c8; /* Azul escuro um pouco mais claro */
}
.mercadoPagoLogo {
    width: 50px;
    margin-right: 10px;
    background: #fff;
    border-radius: 5px;
}
.abertoBarbDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #0f0;
    background: rgba(0, 255, 0, 0.164);
    padding: 3px;
    width: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}
.fechadoBarbDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background: rgba(255, 0, 0, 0.211);
    border-radius: 10px;
    padding: 3px;
    width: 60px;
    font-weight: bold;
}
#span__star{
    margin-top: px;
    margin-right: 5px;
    font-size: 17px;
    letter-spacing: 1px;
}
.Estrelas {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
} 
.Estrelas .fa-star {
    margin-top: 5px;
    color: #1c2035;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 18px;
}
.Estrelas .fa-star.selected,
.Estrelas .fa-star:hover {
    color: #fed720;
    
} 
textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    resize: vertical;
    background: #1c2035;
    border-radius: 12px;
    color: white;
    outline: none;
    border: none;
} 
textarea::placeholder{
    color: #f6f6fc;
    font-family: 'Noto Sans', sans-serif;
}
#SendAvaliation {
    background: #4a17d5;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.reviews {
    position: relative;
    display: flex;
    border-radius: 8px;
    text-align: left;
    width: 350px;
    height: 200px;
    cursor: grab;
    overflow: hidden;
    padding: 5px;
}
.reviews__container{
    display: flex;
}
.reviws__section{
  padding: 10px;
  background: #1c2035;
  margin: 10px;
  border-radius: 12px;
}
.HeaderReview{
    display: flex;
    margin-bottom: 10px;
}
.img_User{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}
.img_User img{
    width: 40px;
    height: 40px;
}
#userName{
    padding-left: 4px;
}
.userName__Stars{
    width: 150px;
    height: 50px;
}
#Star_Unlocked{
    position: absolute;
    background: transparent;
    width: 150px;
    height: 20px;
}
.reviews__day{
    width: 80px;
    height: 40px;
    text-align: right;
}
