@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Sans:wght@100;200;400;500;700;900&family=Noto+Serif+Gujarati:wght@100&family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:wght@200&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300;400;500;700&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
.container__main__barbearia__details{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
    min-width: 350px;
    font-family: 'Poppis', sans-serif;
    background: #0c0e19;
    max-height: 780px;
    min-height: 100vh;
}
#barbDetails{
    color: white;
    font-weight: bold;
    width: auto;
}

.Outdoor{
    position: relative;
    width: 390px;
    height: auto;
    background: transparent;
}
.imgOutdoor{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 390px;
    height: 270px;
}
.Slide__Box{
    position: relative;
    width: 390px;
    height: 270px;
    object-fit: cover;
    background: #000000;
}
.slider__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, #0c0e19 60%, rgba(0, 0, 0, 0.217) 80%);
}
.containner__BarbeariaInformation{
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    bottom: 10px;
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-bottom: 3px;
    color: #f6f6fc;
    z-index: 1000;
}
.inner__BarbeariaInformation{
    width: 355px;
}
#BarbeariaName{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color: #f6f6fc;
}
.icon__start__in__BarbeariaInformation{
    margin-left: 3px;
    margin-right: 3px;
    font-size: 25px;
    padding-bottom: 5px;
    color: yellow;
}
.container__icon__share{
    display: flex;
    justify-content: baseline;
    align-items: end;
    height: 85px;
    padding-right: 5px;
    cursor: pointer;
}
.icon__HiOutlineShare{
    height: 25px;
    width: 25px;
    background: #2706836d;
    padding: 2px;
    border-radius: 50%;
    color: #f6f6f6;
}
.location{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    color: #f6f6fc;
    text-align: left;
    background: transparent;
    
}
.location p{
    width: auto;
    margin-left: 3px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.location_icon{
    width: 15px;
    height: 15px;
}
.link__copied{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background: #2706836d;
    right: 10px;
    bottom: 30px ;
}
.icon__LuClipboardCheck{
    width: 15px;
    height: 15px;
    color: #f6f6f6;
}
hr{
    width: 370px;
    border: 1px solid #1c2035;
}
h4{
    color:#354249;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}
.tittle{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 15px;
    color: #354249;
    font-weight: 700;
    letter-spacing: 1px;

}
.professionals{
    display: flex;
    padding-top: 5px;
    width: 380px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.professionals::-webkit-scrollbar {
    height: 5px;
}
.professionals::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.professionals::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.Box__professional__barbearia__details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90px;
    height: 105px;
    transition: 0.5s;

}
.img__professional__barbearia__details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #4a17d5;
}
.professionalSelected{
    width: 90px;
    height: 105px;
    background: transparent;
    transition: 0.5s;
    border-bottom: 2px solid #4a17d5;
}
.inforService{
    border-radius: 10px;
    display: flex;
    color: #f6f6f6;
    padding: 5px;
    background: rgb(53 66 73 / 37%);;
}
.Icon__info{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.Servicos {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    overflow-x: hidden; 
    overflow-y: scroll;
    margin-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.217);
}
.Servicos::-webkit-scrollbar {
    width: 5px;
}
.Servicos::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.Servicos::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.container__input__search__service{
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.icon__GrSearch{
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    width: 20px;
    height: 20px;
    color: #f6f6f6;
}
.inner__input__search__service{
    background: #1c2035;
    border: 1px solid #1c2035;
    border-radius: 5px;
    height: 45px;
    width: 100%;
    padding-left: 40px;
    padding-right: 10px;
    color: #f6f6fc;
    outline: none;
}
.text__total__professional__and__service{
    margin-top: 10px;
    color: #f6f6f6;
}
.servicoDiv {
    text-align: center;
    height: 70px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #4a17d5;
    border-radius: 5px;
    color: #6b3fe4;
    cursor: pointer;
    text-align: left;
    transition: 0.5s;
}
.servicoDiv.selected {
    background-color: #4a17d5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
.tittle__Calendar{
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 13px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #354249;
    font-weight: 700;
}
/*seção dos horarios*/
.Horarios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;

}
span{
    color: #354249;
    font-weight: 800;
    transition: 0.5s;
}
.horarioDiv {
    position: relative;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
    border: 1px solid #4a17d5;
    color: #6b3fe4;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}
.horarioDiv.selected {
    background-color: #4a17d5;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
.mercadoPagoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3483fa;
    color: white;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
} 
.mercadoPagoButton:hover {
    background-color: #2968c8; /* Azul escuro um pouco mais claro */
}
.mercadoPagoLogo {
    width: 50px;
    margin-right: 10px;
    background: #fff;
    border-radius: 5px;
}
.abertoBarbDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #0f0;
    background: rgba(0, 255, 0, 0.164);
    padding: 3px;
    width: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}
.fechadoBarbDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background: rgba(255, 0, 0, 0.211);
    border-radius: 10px;
    padding: 3px;
    width: 60px;
    font-weight: bold;
}
.AvaliacaoSection{
    padding-left: 10px;
}

.Estrelas {
    display: flex;
    text-align: center;
    justify-content: start;
    flex-direction: row;
    margin-bottom: 20px;
}
.Estrelas .fa-star {
    color: #1c2035;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-size: 25px;
    height: 25px;
    margin-left: 5px;
}
.Estrelas .fa-star.selected,
.Estrelas .fa-star:hover {
    color: #270683;
    
}
.section__send__avaliation{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ocult__element{
    opacity: 0;
    width: 0;
    height: 0;
    transition: 0.5s;
}
.multilineText{
    opacity: 1;
    width: 365px;
    height: 80px;
    border: none;
    background: #35424989;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    outline: none;
    resize: none;
    color: #f6f6fc;
    transition: 0.5s;
}
.conteiner__box__add__comment{
    display: flex;
    justify-content: space-between;
}
.box__add__comment{
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 160px;
    border: 1px solid #4a17d5;
    transition: 0.5s;
    margin-bottom: 10px;
    padding: 3px;
    font-size: 14px;
    border-radius: 5px;
    background: transparent;
}
.box__add__comment:hover{
    background: #4a17d5;
}
.icon__add__comment{
    font-size: 20px;
    color: #f6f6f6;
}
.section__comments{
    display: flex;
    flex-direction: column;
    width: 385px;
    height: 500px;
    padding-left: 10px;
    padding-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.section__comments::-webkit-scrollbar {
    width: 3px;
}
.section__comments::-webkit-scrollbar-thumb {
    background: #4a17d5; 
    border-radius: 5px;
}
.section__comments::-webkit-scrollbar-thumb:hover {
    background: #f6f6f6; 
}
.box__comment{
    width: 100%;
    border-bottom: 1px solid #354249;
    padding: 5px;
}
.header__box__comment{
    width: 100%;
    height: 70px;
    display: flex;
    padding-top: 5px;
    margin-bottom: 15px;
}
.box__user__img__comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #4a17d5;

    overflow: hidden;
}
.user__img__box__comment{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box__first__letter__user__box__comment{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.box__user__information__comment{
    width: 200px;
    height: 70px;
    padding-left: 5px;
}
.box__date__comment{
    display: flex;
    justify-content: end;
    height: 70px;
    width: 90px;
}
.Star__comment__selected{
    color: #4a17d5;
}
.section__no__avaliations{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: rgba(128, 128, 128, 0.352);
    padding: 5px;
}
.text__comment{
    text-align: justify;
}