@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&family=Fira+Sans:ital@1&family=Noto+Serif+Gujarati:wght@100&family=Open+Sans:ital,wght@1,300&family=Oswald:wght@600&family=Poppins:wght@200;300&family=Roboto+Condensed:ital,wght@0,100;0,500;0,700;0,800;0,900;1,200&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');
:root {
  font-family: 'Poppis', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background: #0c0e19;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/*====================STYLE INPUT CONFIRM PASSWORD ===================*/
.form__change__data {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  margin-bottom: 10px;
  font-family: 'Poppis', sans-serif;  
}
.container__text__change__data{
  margin-bottom: 10px;
  color: #52626b;
}
.container__form__change__data{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.input__change__data{
  width: 100%;
  background: transparent;
  border: 1px solid #7849f4;
  border-radius: 5px;
  padding: 3px;
  padding-left: 40px;
  outline: none;
  font-size: 14px;
  color: #f6f6f6;
}
.Btn__confirm__changes{
  height: 50px;
  width: 85px;
  border: 1px solid #7849f4;
  background: transparent;
  border-radius: 5px;
  margin-left: 10px;
  transition: 0.5s;
  padding: 10px;
  color: #f6f6f6;
}
.input__valided{
  border: 1px solid #4a17d5;
  border-radius: 10px;
  transition: 0.5s;
}
.Btn__valided{
  background: #4a17d5;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.icon__input__change__data{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 13px;
  margin-left: 10px;
  font-size: 22px;
}
.card {
  width: 385px;
  height: 200px;
  padding: 1rem;
  text-align: center;
  border-radius: .8rem;
  background-color: transparent;
  }
  
  .card__skeleton {
  background-image: linear-gradient(
          90deg,
          #1c2035e9 0px,
          #1c2035de 40px,
          #1c2035 80px
      );
  background-size: 300%;
  background-position: 100% 0;
  border-radius: inherit;
  animation: shimmer 1.5s infinite;
  }
  
  .card__description {
  width: 100%;
  height: 100%;
  }
  
  @keyframes shimmer {
      to {
          background-position: -100% 0;
      }
  }