.container__widget {
  width: 390px;
  border-radius: 8px;
  padding-top: 10px;
  color: white;
  background: #0c0e19;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-top: -10px;
  z-index: 1000;
}

.container__widget > .header__widget {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container__widget > .header__widget > .tab-button {
  font-size: 18px;
  width: 100px; /* Substitua ${buttonWidth} por um valor fixo, se não estiver usando um pré-processador */
  background: transparent;
  color: #fff;
  padding-bottom: 3px;
  border: 0;
  transition: 0.35s;
}

.container__widget > .header__widget > .tab-button:not(.active) {
  opacity: 0.7;
}

.container__widget > .header__widget > .tab-button:hover:not(.active) {
  opacity: 1;
}

.container__widget > .header__widget > .tab-button.active {
  color: #4a17d5;
  padding-bottom: 3px;
  border-bottom: 1px solid #4a17d5;
  width: 100px;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 74px; /* Substitua ${buttonWidth} por um valor fixo */
  height: 3px;
  transition: 0.2s;
}

.content {
  position: relative;
  overflow-x: hidden;
  height: 650px;
  width: 390px;
  overflow-y: scroll;
  padding-bottom: 500px;
}

.content::-webkit-scrollbar {
  width: 1px;
}
.content::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius: 5px;
}
.content::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6; 
}

.content-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 1155px; /* Substitua ${tabWidth * tabContent.length} por um valor fixo */
  transition: 0.35s;
  height: 720px;
  height: 780px;
  overflow-y: scroll;
}

.tab-content {
  width: 375px; /* Substitua ${tabWidth} por um valor fixo */
  margin: 5px;
height: 100%;
}
