.container__widget {
  width: 385px;
  border-radius: 8px;
  color: white;
}

.container__widget > .header__widget {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.container__widget > .header__widget > .tab-button {
  font-size: 16px;
  width: 64px; /* Substitua ${buttonWidth} por um valor fixo, se não estiver usando um pré-processador */
  background: transparent;
  color: #fff;
  padding-bottom: 3px;
  border: 0;
  transition: 0.35s;
}

.container__widget > .header__widget > .tab-button:not(.active) {
  opacity: 0.7;
}

.container__widget > .header__widget > .tab-button:hover:not(.active) {
  opacity: 1;
}

.container__widget > .header__widget > .tab-button.active {
  color: #4a17d5;
  padding-bottom: 3px;
  border-bottom: 1px solid #4a17d5;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 64px; /* Substitua ${buttonWidth} por um valor fixo */
  height: 3px;
  transition: 0.2s;
}

.content {
  position: relative;
  overflow: hidden;
  height: 700px;
  width: 390px;
}

.content-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 1155px; /* Substitua ${tabWidth * tabContent.length} por um valor fixo */
  transition: 0.35s;
}

.tab-content {
  width: 375px; /* Substitua ${tabWidth} por um valor fixo */
  margin: 5px;
}
