.widget {
  width: 390px;
  border-radius: 8px;
  color: white;
}

.widget > header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: rgba(128, 128, 128, 0.11);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
}

.widget > header > button {
  font-size: 16px;
  width: 64px; /* Substitua ${buttonWidth} por um valor fixo, se não estiver usando um pré-processador */
  background: transparent;
  color: #fff;
  padding-bottom: 3px;

  border: 0;
  transition: 0.35s;
}

.widget > header > button:not(.active) {
  opacity: 0.7;
}

.widget > header > button:hover:not(.active) {
  opacity: 1;
}

.widget > header > button.active {
  color: #4a17d5;
  padding-bottom: 3px;
  border-bottom: 1px solid #4a17d5;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 64px; /* Substitua ${buttonWidth} por um valor fixo */
  height: 3px;
  transition: 0.2s;
}

.content {
  position: relative;
  overflow: hidden;
  height: 140px;
  width: 390px;
}

.content-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 900px; /* Substitua ${tabWidth * tabContent.length} por um valor fixo */
  transition: 0.35s;
}

.tab-content {
  width: 390px; /* Substitua ${tabWidth} por um valor fixo */
  background: red;
  margin: 5px;
}
