*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #100d2a;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgBox{
    position: relative;
}
.imgBox img{
    width: 100px;
    height: 100px;
}

.link__signup{
    width: 240px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
}
.Box__forgot__password{
    width: 100%;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}
.box__another__option__login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text__other{
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
}

/* Estilos para remover fundo branco do botão do Google */
.g_id_signin {
    background-color: transparent !important; /* Remove fundo branco */
    border: none !important; /* Remove bordas */
    box-shadow: none !important; /* Remove sombras */
    padding: 0 !important; /* Ajusta espaçamento */
  }
  
  .g_id_signin iframe {
    background-color: transparent !important; /* Remove fundo interno */
  }