.container__form{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.737);
    z-index: 1000;
    opacity: 1;
}
.section_professional{
    width: 350px;
    background: #1c2035;
    padding: 10px;
    border-radius: 10px;
    z-index: 1001;
}
.section_search_professional{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; 
}
.Btn__closeModal{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: red;
  color: #fff;
}
.icon_close{
  width: 100%;
  height: 100%;
}
.tittle__search__professional{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  font-size: 20px;
  padding-left: 3px;
  margin-bottom: 15px;
  
}
.inputBox__search{
  width: 100%;
}
.icon__lupa{
  position: absolute;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 5px;
}
.inputSearch{
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: transparent;
  border: 1px solid #4a17d5;
  margin-bottom: 15px;
  color: #fff;
}
.inputBox__search input[type="search"]::placeholder{
  color: #fff;
}
.inputBox__search input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
  background: transparent; 
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}
.icon__ClearInput{
  position: absolute;
  margin-top: 10px;
  margin-left: -24px;
  font-size: 20px;
}
.Box__search__professional{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  box-shadow: -2px 3px 1px 2px #00000030;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 5px;
}
.expandCard{
  display: flex;
  justify-content: center;
  height: 80px;
  justify-content: start;
  align-items: center;
  width: 100%;
  border: 1px solid #4a17d5;
  background: #1c2035;
}
.section__form{
  opacity: 1;
  height: 300px;
  transition: 0.5s;
}
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 100%;
}
  
.coolinput label.text {
  font-size: 0.75rem;
  color: #fff;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #1c2035;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #4a17d5 solid;
  border-radius: 5px;
  background: #1c2035;
}

.coolinput input[type=text].input:focus {
  outline: none;
}
.coolinput input[type=email].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #4a17d5 solid;
  border-radius: 5px;
  background: #1c2035;
}
  
.coolinput input[type=email].input:focus {
  outline: none;
}
.coolinput input[type=password].input {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px #4a17d5 solid;
  border-radius: 5px;
  background: #1c2035;
}

.coolinput input[type=password].input:focus {
  outline: none;
}
.Box__Button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__back__search{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px #4a17d5 solid;
  width: 50px;
  height: 38px;
  color: #fff;
  font-size: 30px;
  margin-top: 5px;
}
.button__addNewProfessional{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px #4a17d5 solid;
  width: 100%;
  height: 38px;
  color: #fff;
  font-size: 15px;
}