.container__form{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.737);
    z-index: 1000;
    opacity: 1;
}
.section_professional{
    width: 350px;
    background: #1c2035;
    padding: 10px;
    border-radius: 10px;
}
.section_search_professional{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tittle__search__professional{
  width: 100%;
  padding-top: 5px;
  font-size: 20px;
  padding-left: 3px;
  margin-bottom: 5px;
  
}
.inputBox__search{
  width: 100%;
}
.icon__lupa{
  position: absolute;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 5px;
}
.inputSearch{
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  background: transparent;
  border: 1px solid #4a17d5;
  margin-bottom: 15px;
  color: #fff;
}
.inputBox__search input[type="search"]::placeholder{
  color: #fff;
}
.Box__search__professional{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border: 1px solid #4a17d5;
  margin-bottom: 10px;
  padding: 5px;
}
.closeModal{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.Btn__closeModal{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: red;
    color: #fff;
}
.icon_close{
    width: 100%;
    height: 100%;
}
.section__addImageProfessional{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    overflow: hidden;
}
.addImageProfessional{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #141728;
    border: 1px dashed #4a17d5;
    cursor: pointer;
    overflow: hidden;
    object-fit: cover;
}
.Box__imageProfessional{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.Image__selected{
   width: 100%;
   height: 100%;
    
}
.icon_AddImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #4a17d5;
    cursor: pointer;
}
.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 100%;
  }
  
  .coolinput label.text {
    font-size: 0.75rem;
    color: #fff;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #1c2035;
    width: fit-content;
  }
  
  .coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #4a17d5 solid;
    border-radius: 5px;
    background: #1c2035;
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
  }
  .coolinput input[type=email].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #4a17d5 solid;
    border-radius: 5px;
    background: #1c2035;
  }
  
  .coolinput input[type=email].input:focus {
    outline: none;
  }
  .coolinput input[type=password].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #4a17d5 solid;
    border-radius: 5px;
    background: #1c2035;
  }
  
  .coolinput input[type=password].input:focus {
    outline: none;
  }