.container__form{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.737);
    z-index: 1000;
    opacity: 1;
}
.section_professional{
    width: 350px;
    height: 450px;
    background: #1c2035;
    padding: 10px;
    border-radius: 10px;
    z-index: 1001;
}
.section_search_professional{
  display: flex;
  flex-direction: column;
  height: 100%; 
}
.container__search__professional{
  height: 65%;
}
.Btn__closeModal{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: red;
  color: #fff;
}
.icon_close{
  width: 100%;
  height: 100%;
}
.tittle__search__professional{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  font-size: 20px;
  padding-left: 3px;
  margin-bottom: 15px;
  
}
.inputBox__search{
  width: 100%;
}
.icon__lupa{
  position: absolute;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 5px;
}
.inputSearch{
  padding-left: 30px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  outline: none;
  background: transparent;
  border: 1px solid #4a17d5;
  margin-bottom: 15px;
  color: #fff;
}
.inputBox__search input[type="search"]::placeholder{
  color: #fff;
  font-size: 14px;
  font-family: 'Poppis', sans-serif;
}
.inputBox__search input[type="search"]::-webkit-search-cancel-button{
  -webkit-appearance: none;
  appearance: none;
  background: transparent; 
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1000;
}
.icon__ClearInput{
  position: absolute;
  margin-top: 10px;
  margin-left: -30px;
  font-size: 20px;
}
.Box__search__professional{
  display: flex;
  flex-direction: column;
  width: 330px;
  box-shadow: -2px 3px 1px 2px #00000030;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 5px;
  height: 65px;
  overflow: hidden;
  transition: 0.9s;
  transition-delay: 0.5s;
}
.header__searched__professional{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
}
.box__waiting__response__professional {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s forwards ease 2s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
      
  }
}
.container__send__request{
  opacity: 0;
  width: 100%;
  animation: fadeIn 1s forwards ease 2s;
}

.button__request_professional{
  position: relative;
  height: 40px;
  width: 100%;
  border: 1px solid #0f0;
  background: transparent;
  font-size: 14px;
  color: #0f0;
  cursor: pointer;
}
.text__request{
  background: #354249;
}
.expand__Search__Professional{
  display: flex;
  justify-content: center;
  height: auto;
  justify-content: start;
  align-items: center;
  width: 100%;
  border: 1px solid #4a17d5;
  background: #1c2035;
  transition: 0.9s;
  
}
.section__form{
  opacity: 1;
  height: 300px;
  transition: 0.5s;
}
.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 100%;
  height: 70px;
}
  
.coolinput label.text {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: #1c2035;
  width: fit-content;
}

.coolinput input[type=text].input {
  padding: 11px 10px;
  font-size: 12px;
  border: 2px #4a17d5 solid;
  border-radius: 5px;
  background: #1c2035;
  color: #fff
}

.coolinput input[type=text].input:focus {
  outline: none;
}
.coolinput input[type=email].input {
  padding: 11px 10px;
  font-size: 12px;
  border: 2px #4a17d5 solid;
  border-radius: 5px;
  background: #1c2035;
  color: #fff
}
  
.coolinput input[type=email].input:focus {
  outline: none;
}
.coolinput input[type=password].input {
  padding: 11px 10px;
  font-size: 12px;
  border: 2px #4a17d5 solid;
  border-radius: 5px;
  background: #1c2035;
  color: #fff
}

.coolinput input[type=password].input:focus {
  outline: none;
  font-size: 12px;
}
.Box__Button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.button__back__search{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  width: 50px;
  height: 40px;
  color: #fff;
  font-size: 30px;
  margin-top: 5px;
}
.button__addNewProfessional{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4a17d5;
  border: 2px #4a17d5 solid;
  border-radius: 12px;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 15px;
  transition: 0.5s;
}
.button__addNewProfessional:hover{
  background: #4a17d59b;
}
.message__professional{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  color: #354249;
  text-align: center;
  height: 200px;

}
.message__search__professional{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  font-size: 20px;
}