body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 5px;
    width: 300px;
}
.imgBox{
    position: relative;
}
.imgBox img{
    width: 100px;
    height: 100px;
}
.link__login{
    width: 220px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}