body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 5px;
    width: 350px;
    margin-top: 15px;
}
.imgBox{
    position: relative;
}
.imgBox img{
    width: 100px;
    height: 100px;
}
.link__login{
    width: 220px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}
.box__recover__account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin-top: 5px;
}
.text__information__recover__account{
    font-size: 14px;
    margin-bottom: 15px;
    color: gray;
    text-align: center;
}
.Box__cadastro__barbearia{
    margin-bottom: 15px;
}
.terms__and__btn__create__account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}
.in__SignUp{
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}
.icon__VscEyeClosed{
    position: absolute;
    margin-left: 250px;
    font-size: 22px;
    margin-top: 50px;
}